In [1]:
pip install yfinance pandas

Collecting yfinance
  Downloading yfinance-0.2.66-py2.py3-none-any.whl.metadata (6.0 kB)
Requirement already satisfied: pandas in c:\users\abhi\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\abhi\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\abhi\anaconda3\lib\site-packages (from yfinance) (2.32.3)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.12.tar.gz (19 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\abhi\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\abhi\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\abhi\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.18.3.tar.gz (3.0 MB)
     ---------------------------------------- 0.0/3.0 MB ? eta -:--:--
     -------------------------------------- - 2.9/3.0 MB 16.8 MB/s eta 0:00:01
     ---------------------------------------- 3.0/3.0 MB 16.2 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\abhi\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Collecting curl_cffi>=0.7 (from yfinance)
  Downloading curl_cffi-0.13.0-cp39-abi3-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\abhi\anaconda3\lib\site-packages (from yfinance) (4.25.3)
Collecting websockets>=13.0 (from yfinance)
  Downloading websockets-15.0.1-cp312-cp312-win_amd64.whl.metadata (7.0 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\abhi\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\abhi\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\abhi\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: cffi>=1.12.0 in c:\users\abhi\anaconda3\lib\site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\abhi\anaconda3\lib\site-packages (from curl_cffi>=0.7->yfinance) (2025.11.12)
Requirement already satisfied: six>=1.5 in c:\users\abhi\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\abhi\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\abhi\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\abhi\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.2.3)
Requirement already satisfied: pycparser in c:\users\abhi\anaconda3\lib\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.21)
Downloading yfinance-0.2.66-py2.py3-none-any.whl (123 kB)
Downloading curl_cffi-0.13.0-cp39-abi3-win_amd64.whl (1.6 MB)
   ---------------------------------------- 0.0/1.6 MB ? eta -:--:--
   ---------------------------------------- 1.6/1.6 MB 21.5 MB/s eta 0:00:00
Downloading websockets-15.0.1-cp312-cp312-win_amd64.whl (176 kB)
Building wheels for collected packages: multitasking, peewee
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.12-py3-none-any.whl size=15617 sha256=9c0c1b4629fdb24efce947833ef3811ebfd133edbb608a1febba0a8fb5b34bff
  Stored in directory: c:\users\abhi\appdata\local\pip\cache\wheels\cc\bd\6f\664d62c99327abeef7d86489e6631cbf45b56fbf7ef1d6ef00
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.18.3-py3-none-any.whl size=139181 sha256=d60734658c294bf7913d48912404f37419cc069c63d19fa22a718521ca7219ed
  Stored in directory: c:\users\abhi\appdata\local\pip\cache\wheels\e2\48\b6\675a31c56e50b8b343e1ffbb1d9209f0d95025e2cfa0bbeeed
Successfully built multitasking peewee
Installing collected packages: peewee, multitasking, websockets, curl_cffi, yfinance
Successfully installed curl_cffi-0.13.0 multitasking-0.0.12 peewee-3.18.3 websockets-15.0.1 yfinance-0.2.66
Note: you may need to restart the kernel to use updated packages.

In [3]:
import yfinance as yf
import pandas as pd

In [9]:
tcs = yf.download(
    "TCS.NS",                 # ticker as positional argument
    start="2020-01-01",
    end="2024-12-31",
    interval="1mo",
    auto_adjust=False,
    progress=False
)

tcs.reset_index(inplace=True)
tcs.to_csv("TCS_NS_Monthly_2020_2024.csv", index=False)

print("Download completed successfully!")
print(tcs.head())

Download completed successfully!
Price        Date    Adj Close        Close     High          Low  \
Ticker                  TCS.NS       TCS.NS   TCS.NS       TCS.NS
0      2020-01-01  1822.418335  2079.050049  2260.00  2071.600098
1      2020-02-01  1757.238403  2000.150024  2230.00  1990.000000
2      2020-03-01  1604.326172  1826.099976  2147.75  1506.050049
3      2020-04-01  1782.732666  2014.449951  2032.00  1650.000000
4      2020-05-01  1745.475708  1972.349976  2032.00  1865.199951

Price          Open     Volume
Ticker       TCS.NS     TCS.NS
0       2168.000000   63370917
1       2079.500000   50645330
2       2035.000000  115636914
3       1825.900024   88919456
4       2014.449951   65345631

In [11]:
hdfc = yf.download(
    "HDFCBANK.NS",                 # ticker as positional argument
    start="2020-01-01",
    end="2024-12-31",
    interval="1mo",
    auto_adjust=False,
    progress=False
)

hdfc.reset_index(inplace=True)
hdfc.to_csv("HDFC_NS_Monthly_2020_2024.csv", index=False)

print("Download completed successfully!")
print(hdfc.head())

Download completed successfully!
Price        Date   Adj Close       Close        High         Low        Open  \
Ticker            HDFCBANK.NS HDFCBANK.NS HDFCBANK.NS HDFCBANK.NS HDFCBANK.NS
0      2020-01-01  580.760742  613.150024  652.424988  605.875000  638.049988
1      2020-02-01  557.720703  588.825012  629.950012  585.049988  610.000000
2      2020-03-01  408.185333  430.950012  600.575012  369.375000  600.099976
3      2020-04-01  474.440247  500.899994  509.500000  405.000000  431.924988
4      2020-05-01  450.689850  475.825012  500.899994  413.049988  500.899994

Price       Volume
Ticker HDFCBANK.NS
0        275820172
1        262453154
2        946251530
3        795483142
4        766387108

In [13]:
itc = yf.download(
    "ITC.NS",                 # ticker as positional argument
    start="2020-01-01",
    end="2024-12-31",
    interval="1mo",
    auto_adjust=False,
    progress=False
)

itc.reset_index(inplace=True)
itc.to_csv("itc_NS_Monthly_2020_2024.csv", index=False)

print("Download completed successfully!")
print(itc.head())

Download completed successfully!
Price        Date   Adj Close       Close        High         Low        Open  \
Ticker                 ITC.NS      ITC.NS      ITC.NS      ITC.NS      ITC.NS
0      2020-01-01  183.110168  235.149994  243.899994  230.500000  238.600006
1      2020-02-01  153.831253  197.550003  239.250000  192.050003  236.899994
2      2020-03-01  133.701965  171.699997  203.449997  134.600006  199.500000
3      2020-04-01  141.761444  182.050003  193.750000  164.550003  171.699997
4      2020-05-01  153.675476  197.350006  198.000000  157.100006  182.050003

Price      Volume
Ticker     ITC.NS
0       219654514
1       456619747
2       885486167
3       535693554
4       554395975

In [15]:
nifty = yf.download(
    "^NSEI",                  # NIFTY 50 index
    start="2020-01-01",
    end="2024-12-31",
    interval="1mo",
    auto_adjust=False,
    progress=False
)

nifty.reset_index(inplace=True)
nifty.to_csv("NIFTY50_Monthly_2020_2024.csv", index=False)

print("NIFTY 50 monthly data downloaded successfully!")
print(nifty.head())

NIFTY 50 monthly data downloaded successfully!
Price        Date     Adj Close         Close          High           Low  \
Ticker                    ^NSEI         ^NSEI         ^NSEI         ^NSEI
0      2020-01-01  11962.099609  11962.099609  12430.500000  11929.599609
1      2020-02-01  11201.750000  11201.750000  12246.700195  11175.049805
2      2020-03-01   8597.750000   8597.750000  11433.000000   7511.100098
3      2020-04-01   9859.900391   9859.900391   9889.049805   8055.799805
4      2020-05-01   9580.299805   9580.299805   9598.849609   8806.750000

Price           Open    Volume
Ticker         ^NSEI     ^NSEI
0       12202.150391  10965400
1       11627.450195  10198200
2       11387.349609  21303000
3        8584.099609  12736300
4        9533.500000  13675900

In [17]:
GOLDBEES = yf.download(
    "GOLDBEES.NS",                  # NIFTY 50 index
    start="2020-01-01",
    end="2024-12-31",
    interval="1mo",
    auto_adjust=False,
    progress=False
)

GOLDBEES.reset_index(inplace=True)
GOLDBEES.to_csv("GOLDBEES_Monthly_2020_2024.csv", index=False)

print("GOLDBEES monthly data downloaded successfully!")
print(GOLDBEES.head())

GOLDBEES monthly data downloaded successfully!
Price        Date   Adj Close       Close        High         Low        Open  \
Ticker            GOLDBEES.NS GOLDBEES.NS GOLDBEES.NS GOLDBEES.NS GOLDBEES.NS
0      2020-01-01   35.869999   35.869999   36.900002   34.000000   34.799999
1      2020-02-01   37.369999   37.369999   39.000000   35.180000   36.450001
2      2020-03-01   38.209999   38.209999   43.700001   34.459999   36.939999
3      2020-04-01   42.570000   42.570000   45.049999   37.320000   38.209999
4      2020-05-01   40.990002   40.990002   43.939999   39.599998   42.570000

Price       Volume
Ticker GOLDBEES.NS
0         43322296
1         41365195
2        100652345
3        150158036
4        132218688

In [19]:
tcs.head(10)

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,TCS.NS,TCS.NS,TCS.NS,TCS.NS,TCS.NS,TCS.NS
0,2020-01-01,1822.418335,2079.050049,2260.00,2071.600098,2168.000000,63370917
1,2020-02-01,1757.238403,2000.150024,2230.00,1990.000000,2079.500000,50645330
2,2020-03-01,1604.326172,1826.099976,2147.75,1506.050049,2035.000000,115636914
3,2020-04-01,1782.732666,2014.449951,2032.00,1650.000000,1825.900024,88919456
4,2020-05-01,1745.475708,1972.349976,2032.00,1865.199951,2014.449951,65345631
5,2020-06-01,1842.645264,2082.149902,2132.00,1981.099976,1990.000000,73992134
6,2020-07-01,2024.910767,2281.399902,2358.00,2079.500000,2079.699951,106379633
7,2020-08-01,2007.970215,2257.250000,2328.00,2216.449951,2290.449951,65560742
8,2020-09-01,2217.062012,2492.300049,2555.00,2241.300049,2269.000000,116405821
9,2020-10-01,2370.557617,2664.850098,2885.00,2492.300049,2510.000000,128617294

In [27]:
tcs["Date"] = pd.to_datetime(tcs['Date'])
tcs["Date"] = tcs["Date"].dt.strftime('%Y-%m-%d')
tcs["Date"]

0     2020-01-01
1     2020-02-01
2     2020-03-01
3     2020-04-01
4     2020-05-01
5     2020-06-01
6     2020-07-01
7     2020-08-01
8     2020-09-01
9     2020-10-01
10    2020-11-01
11    2020-12-01
12    2021-01-01
13    2021-02-01
14    2021-03-01
15    2021-04-01
16    2021-05-01
17    2021-06-01
18    2021-07-01
19    2021-08-01
20    2021-09-01
21    2021-10-01
22    2021-11-01
23    2021-12-01
24    2022-01-01
25    2022-02-01
26    2022-03-01
27    2022-04-01
28    2022-05-01
29    2022-06-01
30    2022-07-01
31    2022-08-01
32    2022-09-01
33    2022-10-01
34    2022-11-01
35    2022-12-01
36    2023-01-01
37    2023-02-01
38    2023-03-01
39    2023-04-01
40    2023-05-01
41    2023-06-01
42    2023-07-01
43    2023-08-01
44    2023-09-01
45    2023-10-01
46    2023-11-01
47    2023-12-01
48    2024-01-01
49    2024-02-01
50    2024-03-01
51    2024-04-01
52    2024-05-01
53    2024-06-01
54    2024-07-01
55    2024-08-01
56    2024-09-01
57    2024-10-01
58    2024-11-01
59    2024-12-01
Name: Date, dtype: object

In [29]:
tcs

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,TCS.NS,TCS.NS,TCS.NS,TCS.NS,TCS.NS,TCS.NS
0,2020-01-01,1822.418335,2079.050049,2260.000000,2071.600098,2168.000000,63370917
1,2020-02-01,1757.238403,2000.150024,2230.000000,1990.000000,2079.500000,50645330
2,2020-03-01,1604.326172,1826.099976,2147.750000,1506.050049,2035.000000,115636914
3,2020-04-01,1782.732666,2014.449951,2032.000000,1650.000000,1825.900024,88919456
4,2020-05-01,1745.475708,1972.349976,2032.000000,1865.199951,2014.449951,65345631
5,2020-06-01,1842.645264,2082.149902,2132.000000,1981.099976,1990.000000,73992134
6,2020-07-01,2024.910767,2281.399902,2358.000000,2079.500000,2079.699951,106379633
7,2020-08-01,2007.970215,2257.250000,2328.000000,2216.449951,2290.449951,65560742
8,2020-09-01,2217.062012,2492.300049,2555.000000,2241.300049,2269.000000,116405821
9,2020-10-01,2370.557617,2664.850098,2885.000000,2492.300049,2510.000000,128617294
10,2020-11-01,2393.885254,2679.649902,2744.000000,2600.050049,2660.000000,65135883
11,2020-12-01,2557.459473,2862.750000,2952.000000,2624.449951,2679.000000,62832148
12,2021-01-01,2779.547852,3111.350098,3339.800049,2879.000000,2880.000000,84685394
13,2021-02-01,2590.565186,2894.300049,3245.800049,2880.000000,3100.000000,65464843
14,2021-03-01,2844.358643,3177.850098,3205.000000,2901.800049,2926.000000,71839377
15,2021-04-01,2717.081543,3035.649902,3354.350098,3020.000000,3191.100098,61328558
16,2021-05-01,2827.620605,3159.149902,3217.750000,3004.000000,3024.899902,43538924
17,2021-06-01,3009.287354,3345.750000,3399.649902,3115.000000,3168.600098,45079239
18,2021-07-01,2848.917969,3167.449951,3374.000000,3132.399902,3358.000000,44349890
19,2021-08-01,3413.100342,3786.449951,3804.100098,3167.000000,3180.000000,56678047
20,2021-09-01,3403.276123,3775.550049,3981.750000,3707.000000,3796.000000,50565601
21,2021-10-01,3062.727295,3397.750000,3989.899902,3385.949951,3781.750000,71251894
22,2021-11-01,3187.274902,3529.149902,3575.550049,3406.449951,3437.949951,43267875
23,2021-12-01,3376.209717,3738.350098,3760.000000,3510.149902,3535.000000,44724473
24,2022-01-01,3374.313477,3736.250000,4043.000000,3625.100098,3750.000000,66332036
25,2022-02-01,3215.539307,3554.199951,3882.500000,3391.100098,3770.000000,66967591
26,2022-03-01,3383.590088,3739.949951,3779.500000,3431.550049,3554.199951,50559459
27,2022-04-01,3208.753418,3546.699951,3835.600098,3439.149902,3748.000000,43295317
28,2022-05-01,3043.779053,3364.350098,3547.949951,3154.050049,3519.899902,51124294
29,2022-06-01,2975.705566,3267.100098,3477.300049,3023.850098,3388.000000,50689330
30,2022-07-01,3007.401611,3301.899902,3333.000000,2953.000000,3260.000000,59847596
31,2022-08-01,2932.466064,3211.149902,3428.699951,3081.000000,3327.000000,34342786
32,2022-09-01,2743.796387,3004.550049,3269.800049,2926.100098,3190.000000,53936799
33,2022-10-01,2916.027832,3193.149902,3199.000000,2974.000000,2995.000000,36559310
34,2022-11-01,3104.539062,3390.800049,3429.000000,3166.149902,3214.500000,35504157
35,2022-12-01,2981.759766,3256.699951,3480.000000,3163.649902,3425.000000,32369777
36,2023-01-01,3075.148682,3358.699951,3458.449951,3200.000000,3261.000000,39921886
37,2023-02-01,3102.115479,3312.850098,3575.000000,3299.899902,3363.000000,31342992
38,2023-03-01,3001.967773,3205.899902,3404.949951,3095.050049,3323.000000,39995219
39,2023-04-01,3014.468750,3219.250000,3272.949951,3070.250000,3224.949951,43824242
40,2023-05-01,3080.250000,3289.500000,3372.000000,3173.149902,3219.250000,36616015
41,2023-06-01,3092.188965,3302.250000,3340.000000,3156.000000,3314.000000,38361975
42,2023-07-01,3227.633789,3421.449951,3549.899902,3250.100098,3314.300049,47658115
43,2023-08-01,3174.880615,3356.800049,3489.949951,3343.649902,3415.000000,35920566
44,2023-09-01,3337.370117,3528.600098,3633.750000,3356.800049,3366.000000,38442941
45,2023-10-01,3186.182373,3368.750000,3679.000000,3330.000000,3528.600098,39818106
46,2023-11-01,3307.126709,3487.600098,3544.000000,3311.000000,3355.000000,36207838
47,2023-12-01,3597.102539,3793.399902,3929.000000,3490.050049,3500.000000,45572195
48,2024-01-01,3618.485596,3815.949951,3965.000000,3651.000000,3790.000000,47730057
49,2024-02-01,3910.243408,4095.100098,4184.750000,3805.050049,3820.000000,43410829
50,2024-03-01,3701.320068,3876.300049,4254.750000,3829.399902,4107.200195,57449760
51,2024-04-01,3648.182129,3820.649902,4064.199951,3800.899902,3897.699951,50101987
52,2024-05-01,3505.239746,3670.949951,3988.000000,3653.750000,3820.649902,48488949
53,2024-06-01,3755.008057,3904.149902,3960.000000,3591.500000,3732.800049,49068284
54,2024-07-01,4217.825684,4385.350098,4431.000000,3884.000000,3884.000000,69792747
55,2024-08-01,4389.965332,4553.750000,4592.250000,4110.500000,4399.399902,44299362
56,2024-09-01,4114.975098,4268.500000,4588.000000,4227.500000,4576.000000,46733974
57,2024-10-01,3825.717041,3968.449951,4298.000000,3960.000000,4255.549805,51094057
58,2024-11-01,4127.284668,4270.850098,4377.399902,3913.250000,3989.850098,41293329
59,2024-12-01,3957.152588,4094.800049,4494.899902,4032.050049,4270.000000,44350531