In [39]:
import pandas as pd

In [41]:
users = pd.read_csv("C:/Users/Abhi/Desktop/Power_BI_Data_Analysis_Project/OTT-Streaming-Analytics/data/processed/clean/users_clean.csv")
content = pd.read_csv("C:/Users/Abhi/Desktop/Power_BI_Data_Analysis_Project/OTT-Streaming-Analytics/data/processed/clean/content_clean.csv")
viewing = pd.read_csv("C:/Users/Abhi/Desktop/Power_BI_Data_Analysis_Project/OTT-Streaming-Analytics/data/processed/clean/viewing_activity_clean.csv")

In [43]:
dim_user = users[[
    "user_id",
    "signup_date",
    "country",
    "device"
]].copy()

In [45]:
dim_user.head()

   user_id signup_date country  device
0        1  2024-02-01  Canada  Mobile
1        2  2024-07-18      UK  Mobile
2        3  2023-11-11      UK      TV
3        4  2022-04-12      UK  Tablet
4        5  2021-03-29     USA  Tablet

In [47]:
#Create DIM_CONTENT
dim_content = content[[
    "content_id",
    "title",
    "genre",
    "release_year",
    "duration_min"
]].copy()

In [49]:
dim_content.head()

   content_id      title        genre  release_year  duration_min
0           1  Content_1        Drama          2012           120
1           2  Content_2       Action          2021           134
2           3  Content_3     Thriller          2020           143
3           4  Content_4      Romance          2003            69
4           5  Content_5  Documentary          2023            88

In [51]:
#Create DIM_DATE
date_range = pd.date_range(
    start=viewing["date"].min(),
    end=viewing["date"].max()
)

dim_date = pd.DataFrame({"date": date_range})

In [53]:
dim_date["year"] = dim_date["date"].dt.year
dim_date["month"] = dim_date["date"].dt.month
dim_date["month_name"] = dim_date["date"].dt.strftime("%b")
dim_date["quarter"] = dim_date["date"].dt.to_period("Q").astype(str)
dim_date["day"] = dim_date["date"].dt.day

In [55]:
dim_date.head()

        date  year  month month_name quarter  day
0 2021-01-02  2021      1        Jan  2021Q1    2
1 2021-01-03  2021      1        Jan  2021Q1    3
2 2021-01-04  2021      1        Jan  2021Q1    4
3 2021-01-05  2021      1        Jan  2021Q1    5
4 2021-01-06  2021      1        Jan  2021Q1    6

In [57]:
#Create FACT_VIEWING
fact_viewing = viewing[[
    "date",
    "user_id",
    "content_id",
    "watch_minutes",
    "completed_flag"
]].copy()

In [59]:
fact_viewing["watch_sessions"] = 1

In [61]:
fact_viewing.head()

,date,user_id,content_id,watch_minutes,completed_flag,watch_sessions
0,2024-06-06,1,119,74,0,1
1,2025-01-22,1,262,67,1,1
2,2024-05-13,1,37,18,0,1
3,2024-03-08,1,8,107,0,1
4,2024-12-29,1,296,111,0,1

In [63]:
#Validation
assert fact_viewing["user_id"].isin(dim_user["user_id"]).all()
assert fact_viewing["content_id"].isin(dim_content["content_id"]).all()

In [65]:
dim_user.to_csv("C:/Users/Abhi/Desktop/Power_BI_Data_Analysis_Project/OTT-Streaming-Analytics/data/processed/modeled/dim_user.csv", index=False)
dim_content.to_csv("C:/Users/Abhi/Desktop/Power_BI_Data_Analysis_Project/OTT-Streaming-Analytics/data/processed/modeled/dim_content.csv", index=False)
dim_date.to_csv("C:/Users/Abhi/Desktop/Power_BI_Data_Analysis_Project/OTT-Streaming-Analytics/data/processed/modeled/dim_date.csv", index=False)
fact_viewing.to_csv("C:/Users/Abhi/Desktop/Power_BI_Data_Analysis_Project/OTT-Streaming-Analytics/data/processed/modeled/fact_viewing.csv", index=False)