In [1]:
import pandas as pd
from pathlib import Path

In [3]:
raw_path = Path("C:/Users/Abhi/Desktop/Power_BI_Data_Analysis_Project/Investment-Performance-Risk-Analyzer/data/raw")

files = {
    "TATAMOTORS": "tatamotors_prices.csv",
    "ICICIBANK": "icicibank_prices.csv",
    "ITC": "itc_prices.csv",
    "NIFTY50": "nifty50_prices.csv",
    "GOLD_ETF": "gold_etf_prices.csv",
    "DEBT_FUND": "debt_fund_prices.csv"
}

In [5]:
all_data = []

for asset, file in files.items():
    df = pd.read_csv(raw_path / file)

    # Standardize column names
    df = df.rename(columns={"Date": "date", "Close": "price"})
    df["date"] = pd.to_datetime(df["date"])

    # Sort by date 
    df = df.sort_values("date")

    # Add asset name
    df["asset"] = asset

    # Calculate Monthly Return
    df["monthly_return"] = df["price"].pct_change()

    all_data.append(df)

In [15]:
consolidated_df = pd.concat(all_data, ignore_index=True)
consolidated_df.head()

        date       price       asset  monthly_return
0 2020-01-01  173.476547  TATAMOTORS             NaN
1 2020-02-01  126.669312  TATAMOTORS       -0.269819
2 2020-03-01   69.793373  TATAMOTORS       -0.449011
3 2020-04-01   91.600723  TATAMOTORS        0.312456
4 2020-05-01   85.461266  TATAMOTORS       -0.067024

In [17]:
consolidated_df = consolidated_df.dropna()
consolidated_df.head()

        date       price       asset  monthly_return
1 2020-02-01  126.669312  TATAMOTORS       -0.269819
2 2020-03-01   69.793373  TATAMOTORS       -0.449011
3 2020-04-01   91.600723  TATAMOTORS        0.312456
4 2020-05-01   85.461266  TATAMOTORS       -0.067024
5 2020-06-01   96.512299  TATAMOTORS        0.129310

In [21]:
consolidated_df = consolidated_df.reset_index(drop=True)
consolidated_df.head()

        date       price       asset  monthly_return
0 2020-02-01  126.669312  TATAMOTORS       -0.269819
1 2020-03-01   69.793373  TATAMOTORS       -0.449011
2 2020-04-01   91.600723  TATAMOTORS        0.312456
3 2020-05-01   85.461266  TATAMOTORS       -0.067024
4 2020-06-01   96.512299  TATAMOTORS        0.129310

In [25]:
output_path = Path("C:/Users/Abhi/Desktop/Power_BI_Data_Analysis_Project/Investment-Performance-Risk-Analyzer/data/processed/consolidated_prices.csv")
consolidated_df.to_csv(output_path, index=False)

print("Consolidated dataset created successfully!")

Consolidated dataset created successfully!

In [27]:
consolidated_df.groupby("asset").size()

asset
DEBT_FUND     53
GOLD_ETF      59
ICICIBANK     59
ITC           59
NIFTY50       59
TATAMOTORS    59
dtype: int64