In [1]:
import pandas as pd 
import numpy as np

In [11]:
df = pd.read_csv("C:/Users/Abhi/Desktop/Python_Data_Analytics_Projects/behavioral-bias-detector/data/processed/TCS_cleaned.csv")
df["date"]=pd.to_datetime(df["date"])
df= df.sort_values("date").reset_index(drop=True)
df.head()

        date        close         high          low         open   volume
0 2019-01-01  1610.928101  1617.023646  1595.858415  1605.171116  1094883
1 2019-01-02  1628.283569  1637.723180  1608.557533  1612.790579  2100463
2 2019-01-03  1608.515381  1646.612801  1602.716128  1624.643330  2611668
3 2019-01-04  1588.958618  1609.573534  1558.607696  1608.557644  4280862
4 2019-01-07  1606.779785  1616.007847  1592.472068  1601.615489  1856423

In [17]:
df["daily_return"]=df["close"].pct_change()
df.head()

,date,close,high,low,open,volume,daily_return
0,2019-01-01,1610.928101,1617.023646,1595.858415,1605.171116,1094883,NaN
1,2019-01-02,1628.283569,1637.723180,1608.557533,1612.790579,2100463,0.010774
2,2019-01-03,1608.515381,1646.612801,1602.716128,1624.643330,2611668,-0.012141
3,2019-01-04,1588.958618,1609.573534,1558.607696,1608.557644,4280862,-0.012158
4,2019-01-07,1606.779785,1616.007847,1592.472068,1601.615489,1856423,0.011216

In [23]:
df["return_5d"] = df["close"].pct_change(5)
df["return_10d"] = df["close"].pct_change(10)
df.head(20)

,date,close,high,low,open,volume,daily_return,return_5d,return_10d
0,2019-01-01,1610.928101,1617.023646,1595.858415,1605.171116,1094883,NaN,NaN,NaN
1,2019-01-02,1628.283569,1637.723180,1608.557533,1612.790579,2100463,0.010774,NaN,NaN
2,2019-01-03,1608.515381,1646.612801,1602.716128,1624.643330,2611668,-0.012141,NaN,NaN
3,2019-01-04,1588.958618,1609.573534,1558.607696,1608.557644,4280862,-0.012158,NaN,NaN
4,2019-01-07,1606.779785,1616.007847,1592.472068,1601.615489,1856423,0.011216,NaN,NaN
5,2019-01-08,1603.097046,1613.975954,1594.419301,1613.129345,1691756,-0.002292,-0.004861,NaN
6,2019-01-09,1597.509277,1624.643145,1580.365440,1614.822498,2414376,-0.003486,-0.018900,NaN
7,2019-01-10,1598.863892,1612.790572,1584.937108,1600.091434,3053461,0.000848,-0.006000,NaN
8,2019-01-11,1559.920044,1587.392475,1553.528102,1583.159428,9209862,-0.024357,-0.018275,NaN
9,2019-01-14,1535.114502,1567.074007,1532.363021,1566.227398,3615370,-0.015902,-0.044602,NaN
10,2019-01-15,1581.296875,1582.609057,1530.669598,1532.362817,7711653,0.030084,-0.013599,-0.018394
11,2019-01-16,1583.286377,1587.392411,1563.687351,1583.159365,2359280,0.001258,-0.008903,-0.027635
12,2019-01-17,1607.169678,1610.308805,1587.655925,1593.340325,2625816,0.015085,0.005195,-0.000837
13,2019-01-18,1612.556885,1615.568727,1591.643215,1595.885335,1683728,0.003352,0.033743,0.014851
14,2019-01-21,1619.386597,1639.154914,1608.144980,1613.702198,2409803,0.004235,0.054896,0.007846
15,2019-01-22,1613.617432,1627.489142,1603.521167,1618.029194,2457093,-0.003563,0.020439,0.006563
16,2019-01-23,1591.303833,1617.180762,1586.552680,1612.853821,2578169,-0.013828,0.005064,-0.003884
17,2019-01-24,1613.320801,1616.459928,1590.795101,1599.109698,1962927,0.013836,0.003827,0.009042
18,2019-01-25,1629.652466,1641.700042,1612.853633,1613.702057,2327080,0.010123,0.010602,0.044703
19,2019-01-28,1658.668701,1664.607668,1633.640196,1640.003376,2769033,0.017805,0.024257,0.080485

In [29]:
df["volatility_10d"] = df["daily_return"].rolling(10).std()
df.head(20)

,date,close,high,low,open,volume,daily_return,return_5d,return_10d,volatility_10d
0,2019-01-01,1610.928101,1617.023646,1595.858415,1605.171116,1094883,NaN,NaN,NaN,NaN
1,2019-01-02,1628.283569,1637.723180,1608.557533,1612.790579,2100463,0.010774,NaN,NaN,NaN
2,2019-01-03,1608.515381,1646.612801,1602.716128,1624.643330,2611668,-0.012141,NaN,NaN,NaN
3,2019-01-04,1588.958618,1609.573534,1558.607696,1608.557644,4280862,-0.012158,NaN,NaN,NaN
4,2019-01-07,1606.779785,1616.007847,1592.472068,1601.615489,1856423,0.011216,NaN,NaN,NaN
5,2019-01-08,1603.097046,1613.975954,1594.419301,1613.129345,1691756,-0.002292,-0.004861,NaN,NaN
6,2019-01-09,1597.509277,1624.643145,1580.365440,1614.822498,2414376,-0.003486,-0.018900,NaN,NaN
7,2019-01-10,1598.863892,1612.790572,1584.937108,1600.091434,3053461,0.000848,-0.006000,NaN,NaN
8,2019-01-11,1559.920044,1587.392475,1553.528102,1583.159428,9209862,-0.024357,-0.018275,NaN,NaN
9,2019-01-14,1535.114502,1567.074007,1532.363021,1566.227398,3615370,-0.015902,-0.044602,NaN,NaN
10,2019-01-15,1581.296875,1582.609057,1530.669598,1532.362817,7711653,0.030084,-0.013599,-0.018394,0.015903
11,2019-01-16,1583.286377,1587.392411,1563.687351,1583.159365,2359280,0.001258,-0.008903,-0.027635,0.015346
12,2019-01-17,1607.169678,1610.308805,1587.655925,1593.340325,2625816,0.015085,0.005195,-0.000837,0.015889
13,2019-01-18,1612.556885,1615.568727,1591.643215,1595.885335,1683728,0.003352,0.033743,0.014851,0.015313
14,2019-01-21,1619.386597,1639.154914,1608.144980,1613.702198,2409803,0.004235,0.054896,0.007846,0.014981
15,2019-01-22,1613.617432,1627.489142,1603.521167,1618.029194,2457093,-0.003563,0.020439,0.006563,0.015016
16,2019-01-23,1591.303833,1617.180762,1586.552680,1612.853821,2578169,-0.013828,0.005064,-0.003884,0.015682
17,2019-01-24,1613.320801,1616.459928,1590.795101,1599.109698,1962927,0.013836,0.003827,0.009042,0.016311
18,2019-01-25,1629.652466,1641.700042,1612.853633,1613.702057,2327080,0.010123,0.010602,0.044703,0.013802
19,2019-01-28,1658.668701,1664.607668,1633.640196,1640.003376,2769033,0.017805,0.024257,0.080485,0.012310

In [43]:
df["rolling_max"] = df["close"].cummax()
df["drawdown"] = (df["close"] - df["rolling_max"]) / df["rolling_max"]
df.head(50)

,date,close,high,low,open,volume,daily_return,return_5d,return_10d,volatility_10d,rolling_max,drawdown
0,2019-01-01,1610.928101,1617.023646,1595.858415,1605.171116,1094883,NaN,NaN,NaN,NaN,1610.928101,0.000000
1,2019-01-02,1628.283569,1637.723180,1608.557533,1612.790579,2100463,0.010774,NaN,NaN,NaN,1628.283569,0.000000
2,2019-01-03,1608.515381,1646.612801,1602.716128,1624.643330,2611668,-0.012141,NaN,NaN,NaN,1628.283569,-0.012141
3,2019-01-04,1588.958618,1609.573534,1558.607696,1608.557644,4280862,-0.012158,NaN,NaN,NaN,1628.283569,-0.024151
4,2019-01-07,1606.779785,1616.007847,1592.472068,1601.615489,1856423,0.011216,NaN,NaN,NaN,1628.283569,-0.013206
5,2019-01-08,1603.097046,1613.975954,1594.419301,1613.129345,1691756,-0.002292,-0.004861,NaN,NaN,1628.283569,-0.015468
6,2019-01-09,1597.509277,1624.643145,1580.365440,1614.822498,2414376,-0.003486,-0.018900,NaN,NaN,1628.283569,-0.018900
7,2019-01-10,1598.863892,1612.790572,1584.937108,1600.091434,3053461,0.000848,-0.006000,NaN,NaN,1628.283569,-0.018068
8,2019-01-11,1559.920044,1587.392475,1553.528102,1583.159428,9209862,-0.024357,-0.018275,NaN,NaN,1628.283569,-0.041985
9,2019-01-14,1535.114502,1567.074007,1532.363021,1566.227398,3615370,-0.015902,-0.044602,NaN,NaN,1628.283569,-0.057219
10,2019-01-15,1581.296875,1582.609057,1530.669598,1532.362817,7711653,0.030084,-0.013599,-0.018394,0.015903,1628.283569,-0.028857
11,2019-01-16,1583.286377,1587.392411,1563.687351,1583.159365,2359280,0.001258,-0.008903,-0.027635,0.015346,1628.283569,-0.027635
12,2019-01-17,1607.169678,1610.308805,1587.655925,1593.340325,2625816,0.015085,0.005195,-0.000837,0.015889,1628.283569,-0.012967
13,2019-01-18,1612.556885,1615.568727,1591.643215,1595.885335,1683728,0.003352,0.033743,0.014851,0.015313,1628.283569,-0.009658
14,2019-01-21,1619.386597,1639.154914,1608.144980,1613.702198,2409803,0.004235,0.054896,0.007846,0.014981,1628.283569,-0.005464
15,2019-01-22,1613.617432,1627.489142,1603.521167,1618.029194,2457093,-0.003563,0.020439,0.006563,0.015016,1628.283569,-0.009007
16,2019-01-23,1591.303833,1617.180762,1586.552680,1612.853821,2578169,-0.013828,0.005064,-0.003884,0.015682,1628.283569,-0.022711
17,2019-01-24,1613.320801,1616.459928,1590.795101,1599.109698,1962927,0.013836,0.003827,0.009042,0.016311,1628.283569,-0.009189
18,2019-01-25,1629.652466,1641.700042,1612.853633,1613.702057,2327080,0.010123,0.010602,0.044703,0.013802,1629.652466,0.000000
19,2019-01-28,1658.668701,1664.607668,1633.640196,1640.003376,2769033,0.017805,0.024257,0.080485,0.012310,1658.668701,0.000000
20,2019-01-29,1682.212891,1687.558004,1643.100560,1664.608090,2557626,0.014195,0.042510,0.063819,0.009911,1682.212891,0.000000
21,2019-01-30,1681.067383,1687.939597,1658.372040,1679.540178,2429575,-0.000681,0.056409,0.061758,0.010038,1682.212891,-0.000681
22,2019-01-31,1708.810547,1713.604163,1684.121432,1685.818280,4094319,0.016503,0.059188,0.063242,0.010188,1708.810547,0.000000
23,2019-02-01,1722.258423,1726.330900,1695.236137,1704.908192,3064163,0.007870,0.056826,0.068030,0.010148,1722.258423,0.000000
24,2019-02-04,1739.480957,1743.892720,1716.361408,1722.257912,1590764,0.010000,0.048721,0.074160,0.010159,1739.480957,0.000000
25,2019-02-05,1734.645386,1743.511375,1720.603927,1739.269255,1111404,-0.002780,0.031169,0.075004,0.010070,1739.480957,-0.002780
26,2019-02-06,1760.309937,1770.533486,1731.675630,1739.184057,1789812,0.014795,0.047138,0.106206,0.006994,1760.309937,0.000000
27,2019-02-07,1767.182129,1779.950951,1753.692271,1760.267557,1339945,0.003904,0.034159,0.095369,0.007119,1767.182129,0.000000
28,2019-02-08,1748.940796,1772.781588,1740.117271,1760.479443,1684474,-0.010322,0.015493,0.073199,0.009390,1767.182129,-0.010322
29,2019-02-11,1752.758911,1778.296554,1738.335704,1747.753293,1778730,0.002183,0.007633,0.056726,0.008689,1767.182129,-0.008162
30,2019-02-12,1740.626221,1756.237135,1712.119100,1756.237135,2422903,-0.006922,0.003448,0.034724,0.008922,1767.182129,-0.015027
31,2019-02-14,1734.687256,1760.479360,1724.888023,1747.795466,1724085,-0.003412,-0.014556,0.031896,0.009103,1767.182129,-0.018388
32,2019-02-15,1722.046021,1740.965916,1706.138072,1738.420644,1930065,-0.007287,-0.025541,0.007745,0.008309,1767.182129,-0.025541
33,2019-02-18,1671.650024,1732.439528,1665.159559,1728.748903,2942184,-0.029265,-0.044193,-0.029385,0.012191,1767.182129,-0.054059
34,2019-02-19,1616.078125,1672.243754,1605.218256,1671.395330,4408554,-0.033244,-0.077980,-0.070942,0.014545,1767.182129,-0.085506
35,2019-02-20,1624.519653,1640.682170,1596.139915,1624.731759,4645778,0.005223,-0.066704,-0.063486,0.015029,1767.182129,-0.080729
36,2019-02-21,1624.052856,1645.942233,1609.502471,1624.519531,4683919,-0.000287,-0.063778,-0.077405,0.013322,1767.182129,-0.080993
37,2019-02-22,1633.767822,1637.458446,1616.332666,1626.598577,2271955,0.005982,-0.051264,-0.075496,0.013542,1767.182129,-0.075496
38,2019-02-25,1684.248779,1688.363615,1637.882391,1639.579239,2934880,0.030898,0.007537,-0.036989,0.018155,1767.182129,-0.046930
39,2019-02-26,1729.681763,1735.154159,1673.304036,1683.273017,6453309,0.026975,0.070296,-0.013166,0.020567,1767.182129,-0.021220
40,2019-02-27,1746.141113,1760.436930,1715.512931,1730.784560,4732082,0.009516,0.074866,0.003168,0.020709,1767.182129,-0.011907
41,2019-02-28,1682.806519,1757.383111,1677.843259,1747.753416,8454295,-0.036271,0.036177,-0.029908,0.023780,1767.182129,-0.047746
42,2019-03-01,1692.945190,1701.090040,1680.176368,1692.648263,4148548,0.006025,0.036221,-0.016899,0.023872,1767.182129,-0.042009
43,2019-03-05,1686.751953,1702.787190,1676.995076,1701.090341,2449622,-0.003658,0.001486,0.009034,0.021843,1767.182129,-0.045513
44,2019-03-06,1696.508545,1709.574295,1684.164038,1687.769840,2635047,0.005784,-0.019179,0.049769,0.018205,1767.182129,-0.039992
45,2019-03-07,1708.131958,1717.252515,1697.017522,1701.089998,2539884,0.006851,-0.021768,0.051469,0.018215,1767.182129,-0.033415
46,2019-03-08,1716.106934,1724.845741,1705.374454,1718.058350,2031071,0.004669,0.019789,0.056682,0.018117,1767.182129,-0.028902
47,2019-03-11,1709.404419,1724.845692,1699.944472,1721.367175,3111689,-0.003906,0.009722,0.046296,0.018366,1767.182129,-0.032695
48,2019-03-12,1707.410645,1717.888763,1699.393080,1708.768206,2658550,-0.001166,0.012248,0.013752,0.015918,1767.182129,-0.033823
49,2019-03-13,1697.271973,1710.337721,1678.691469,1707.877271,1833163,-0.005938,0.000450,-0.018737,0.013238,1767.182129,-0.039560

In [47]:
df["volume_mean_20d"] = df["volume"].rolling(20).mean()
df["volume_std_20d"] = df["volume"].rolling(20).std()
df["volume_zscore"]=(
    (df["volume"] - df["volume_mean_20d"])/ df["volume_std_20d"]
)
df.head(50)

,date,close,high,low,open,volume,daily_return,return_5d,return_10d,volatility_10d,rolling_max,drawdown,volume_mean_20d,volume_std_20d,volume_zscore
0,2019-01-01,1610.928101,1617.023646,1595.858415,1605.171116,1094883,NaN,NaN,NaN,NaN,1610.928101,0.000000,NaN,NaN,NaN
1,2019-01-02,1628.283569,1637.723180,1608.557533,1612.790579,2100463,0.010774,NaN,NaN,NaN,1628.283569,0.000000,NaN,NaN,NaN
2,2019-01-03,1608.515381,1646.612801,1602.716128,1624.643330,2611668,-0.012141,NaN,NaN,NaN,1628.283569,-0.012141,NaN,NaN,NaN
3,2019-01-04,1588.958618,1609.573534,1558.607696,1608.557644,4280862,-0.012158,NaN,NaN,NaN,1628.283569,-0.024151,NaN,NaN,NaN
4,2019-01-07,1606.779785,1616.007847,1592.472068,1601.615489,1856423,0.011216,NaN,NaN,NaN,1628.283569,-0.013206,NaN,NaN,NaN
5,2019-01-08,1603.097046,1613.975954,1594.419301,1613.129345,1691756,-0.002292,-0.004861,NaN,NaN,1628.283569,-0.015468,NaN,NaN,NaN
6,2019-01-09,1597.509277,1624.643145,1580.365440,1614.822498,2414376,-0.003486,-0.018900,NaN,NaN,1628.283569,-0.018900,NaN,NaN,NaN
7,2019-01-10,1598.863892,1612.790572,1584.937108,1600.091434,3053461,0.000848,-0.006000,NaN,NaN,1628.283569,-0.018068,NaN,NaN,NaN
8,2019-01-11,1559.920044,1587.392475,1553.528102,1583.159428,9209862,-0.024357,-0.018275,NaN,NaN,1628.283569,-0.041985,NaN,NaN,NaN
9,2019-01-14,1535.114502,1567.074007,1532.363021,1566.227398,3615370,-0.015902,-0.044602,NaN,NaN,1628.283569,-0.057219,NaN,NaN,NaN
10,2019-01-15,1581.296875,1582.609057,1530.669598,1532.362817,7711653,0.030084,-0.013599,-0.018394,0.015903,1628.283569,-0.028857,NaN,NaN,NaN
11,2019-01-16,1583.286377,1587.392411,1563.687351,1583.159365,2359280,0.001258,-0.008903,-0.027635,0.015346,1628.283569,-0.027635,NaN,NaN,NaN
12,2019-01-17,1607.169678,1610.308805,1587.655925,1593.340325,2625816,0.015085,0.005195,-0.000837,0.015889,1628.283569,-0.012967,NaN,NaN,NaN
13,2019-01-18,1612.556885,1615.568727,1591.643215,1595.885335,1683728,0.003352,0.033743,0.014851,0.015313,1628.283569,-0.009658,NaN,NaN,NaN
14,2019-01-21,1619.386597,1639.154914,1608.144980,1613.702198,2409803,0.004235,0.054896,0.007846,0.014981,1628.283569,-0.005464,NaN,NaN,NaN
15,2019-01-22,1613.617432,1627.489142,1603.521167,1618.029194,2457093,-0.003563,0.020439,0.006563,0.015016,1628.283569,-0.009007,NaN,NaN,NaN
16,2019-01-23,1591.303833,1617.180762,1586.552680,1612.853821,2578169,-0.013828,0.005064,-0.003884,0.015682,1628.283569,-0.022711,NaN,NaN,NaN
17,2019-01-24,1613.320801,1616.459928,1590.795101,1599.109698,1962927,0.013836,0.003827,0.009042,0.016311,1628.283569,-0.009189,NaN,NaN,NaN
18,2019-01-25,1629.652466,1641.700042,1612.853633,1613.702057,2327080,0.010123,0.010602,0.044703,0.013802,1629.652466,0.000000,NaN,NaN,NaN
19,2019-01-28,1658.668701,1664.607668,1633.640196,1640.003376,2769033,0.017805,0.024257,0.080485,0.012310,1658.668701,0.000000,3040685.30,1.991939e+06,-0.136376
20,2019-01-29,1682.212891,1687.558004,1643.100560,1664.608090,2557626,0.014195,0.042510,0.063819,0.009911,1682.212891,0.000000,3113822.45,1.942987e+06,-0.286258
21,2019-01-30,1681.067383,1687.939597,1658.372040,1679.540178,2429575,-0.000681,0.056409,0.061758,0.010038,1682.212891,-0.000681,3130278.05,1.935332e+06,-0.362058
22,2019-01-31,1708.810547,1713.604163,1684.121432,1685.818280,4094319,0.016503,0.059188,0.063242,0.010188,1708.810547,0.000000,3204410.60,1.942803e+06,0.458054
23,2019-02-01,1722.258423,1726.330900,1695.236137,1704.908192,3064163,0.007870,0.056826,0.068030,0.010148,1722.258423,0.000000,3143575.65,1.926301e+06,-0.041225
24,2019-02-04,1739.480957,1743.892720,1716.361408,1722.257912,1590764,0.010000,0.048721,0.074160,0.010159,1739.480957,0.000000,3130292.70,1.936533e+06,-0.794992
25,2019-02-05,1734.645386,1743.511375,1720.603927,1739.269255,1111404,-0.002780,0.031169,0.075004,0.010070,1739.480957,-0.002780,3101275.10,1.963385e+06,-1.013490
26,2019-02-06,1760.309937,1770.533486,1731.675630,1739.184057,1789812,0.014795,0.047138,0.106206,0.006994,1760.309937,0.000000,3070046.90,1.979783e+06,-0.646654
27,2019-02-07,1767.182129,1779.950951,1753.692271,1760.267557,1339945,0.003904,0.034159,0.095369,0.007119,1767.182129,0.000000,2984371.10,2.017261e+06,-0.815178
28,2019-02-08,1748.940796,1772.781588,1740.117271,1760.479443,1684474,-0.010322,0.015493,0.073199,0.009390,1767.182129,-0.010322,2608101.70,1.403359e+06,-0.658155
29,2019-02-11,1752.758911,1778.296554,1738.335704,1747.753293,1778730,0.002183,0.007633,0.056726,0.008689,1767.182129,-0.008162,2516269.70,1.394038e+06,-0.529067
30,2019-02-12,1740.626221,1756.237135,1712.119100,1756.237135,2422903,-0.006922,0.003448,0.034724,0.008922,1767.182129,-0.015027,2251832.20,6.704937e+05,0.255142
31,2019-02-14,1734.687256,1760.479360,1724.888023,1747.795466,1724085,-0.003412,-0.014556,0.031896,0.009103,1767.182129,-0.018388,2220072.45,6.801112e+05,-0.729274
32,2019-02-15,1722.046021,1740.965916,1706.138072,1738.420644,1930065,-0.007287,-0.025541,0.007745,0.008309,1767.182129,-0.025541,2185284.90,6.760468e+05,-0.377518
33,2019-02-18,1671.650024,1732.439528,1665.159559,1728.748903,2942184,-0.029265,-0.044193,-0.029385,0.012191,1767.182129,-0.054059,2248207.70,6.854080e+05,1.012501
34,2019-02-19,1616.078125,1672.243754,1605.218256,1671.395330,4408554,-0.033244,-0.077980,-0.070942,0.014545,1767.182129,-0.085506,2348145.25,8.387689e+05,2.456468
35,2019-02-20,1624.519653,1640.682170,1596.139915,1624.731759,4645778,0.005223,-0.066704,-0.063486,0.015029,1767.182129,-0.080729,2457579.50,9.839464e+05,2.223900
36,2019-02-21,1624.052856,1645.942233,1609.502471,1624.519531,4683919,-0.000287,-0.063778,-0.077405,0.013322,1767.182129,-0.080993,2562867.00,1.102991e+06,1.923000
37,2019-02-22,1633.767822,1637.458446,1616.332666,1626.598577,2271955,0.005982,-0.051264,-0.075496,0.013542,1767.182129,-0.075496,2578318.40,1.096289e+06,-0.279455
38,2019-02-25,1684.248779,1688.363615,1637.882391,1639.579239,2934880,0.030898,0.007537,-0.036989,0.018155,1767.182129,-0.046930,2608708.40,1.097381e+06,0.297227
39,2019-02-26,1729.681763,1735.154159,1673.304036,1683.273017,6453309,0.026975,0.070296,-0.013166,0.020567,1767.182129,-0.021220,2792922.20,1.394675e+06,2.624546
40,2019-02-27,1746.141113,1760.436930,1715.512931,1730.784560,4732082,0.009516,0.074866,0.003168,0.020709,1767.182129,-0.011907,2901645.00,1.458655e+06,1.254880
41,2019-02-28,1682.806519,1757.383111,1677.843259,1747.753416,8454295,-0.036271,0.036177,-0.029908,0.023780,1767.182129,-0.047746,3202881.00,1.908706e+06,2.751296
42,2019-03-01,1692.945190,1701.090040,1680.176368,1692.648263,4148548,0.006025,0.036221,-0.016899,0.023872,1767.182129,-0.042009,3205592.45,1.910077e+06,0.493674
43,2019-03-05,1686.751953,1702.787190,1676.995076,1701.090341,2449622,-0.003658,0.001486,0.009034,0.021843,1767.182129,-0.045513,3174865.40,1.917401e+06,-0.378243
44,2019-03-06,1696.508545,1709.574295,1684.164038,1687.769840,2635047,0.005784,-0.019179,0.049769,0.018205,1767.182129,-0.039992,3227079.55,1.885953e+06,-0.313917
45,2019-03-07,1708.131958,1717.252515,1697.017522,1701.089998,2539884,0.006851,-0.021768,0.051469,0.018215,1767.182129,-0.033415,3298503.55,1.827764e+06,-0.415053
46,2019-03-08,1716.106934,1724.845741,1705.374454,1718.058350,2031071,0.004669,0.019789,0.056682,0.018117,1767.182129,-0.028902,3310566.50,1.818053e+06,-0.703772
47,2019-03-11,1709.404419,1724.845692,1699.944472,1721.367175,3111689,-0.003906,0.009722,0.046296,0.018366,1767.182129,-0.032695,3399153.70,1.759191e+06,-0.163407
48,2019-03-12,1707.410645,1717.888763,1699.393080,1708.768206,2658550,-0.001166,0.012248,0.013752,0.015918,1767.182129,-0.033823,3447857.50,1.722318e+06,-0.458282
49,2019-03-13,1697.271973,1710.337721,1678.691469,1707.877271,1833163,-0.005938,0.000450,-0.018737,0.013238,1767.182129,-0.039560,3450579.15,1.719582e+06,-0.940587

In [51]:
df["high_52w"] = df["close"].rolling(252).max()
df["dist_from_52w_high"] = (df["close"] - df["high_52w"]) / df["high_52w"]
df.head(50)

,date,close,high,low,open,volume,daily_return,return_5d,return_10d,volatility_10d,rolling_max,drawdown,volume_mean_20d,volume_std_20d,volume_zscore,high_52w,dist_from_52w_high
0,2019-01-01,1610.928101,1617.023646,1595.858415,1605.171116,1094883,NaN,NaN,NaN,NaN,1610.928101,0.000000,NaN,NaN,NaN,NaN,NaN
1,2019-01-02,1628.283569,1637.723180,1608.557533,1612.790579,2100463,0.010774,NaN,NaN,NaN,1628.283569,0.000000,NaN,NaN,NaN,NaN,NaN
2,2019-01-03,1608.515381,1646.612801,1602.716128,1624.643330,2611668,-0.012141,NaN,NaN,NaN,1628.283569,-0.012141,NaN,NaN,NaN,NaN,NaN
3,2019-01-04,1588.958618,1609.573534,1558.607696,1608.557644,4280862,-0.012158,NaN,NaN,NaN,1628.283569,-0.024151,NaN,NaN,NaN,NaN,NaN
4,2019-01-07,1606.779785,1616.007847,1592.472068,1601.615489,1856423,0.011216,NaN,NaN,NaN,1628.283569,-0.013206,NaN,NaN,NaN,NaN,NaN
5,2019-01-08,1603.097046,1613.975954,1594.419301,1613.129345,1691756,-0.002292,-0.004861,NaN,NaN,1628.283569,-0.015468,NaN,NaN,NaN,NaN,NaN
6,2019-01-09,1597.509277,1624.643145,1580.365440,1614.822498,2414376,-0.003486,-0.018900,NaN,NaN,1628.283569,-0.018900,NaN,NaN,NaN,NaN,NaN
7,2019-01-10,1598.863892,1612.790572,1584.937108,1600.091434,3053461,0.000848,-0.006000,NaN,NaN,1628.283569,-0.018068,NaN,NaN,NaN,NaN,NaN
8,2019-01-11,1559.920044,1587.392475,1553.528102,1583.159428,9209862,-0.024357,-0.018275,NaN,NaN,1628.283569,-0.041985,NaN,NaN,NaN,NaN,NaN
9,2019-01-14,1535.114502,1567.074007,1532.363021,1566.227398,3615370,-0.015902,-0.044602,NaN,NaN,1628.283569,-0.057219,NaN,NaN,NaN,NaN,NaN
10,2019-01-15,1581.296875,1582.609057,1530.669598,1532.362817,7711653,0.030084,-0.013599,-0.018394,0.015903,1628.283569,-0.028857,NaN,NaN,NaN,NaN,NaN
11,2019-01-16,1583.286377,1587.392411,1563.687351,1583.159365,2359280,0.001258,-0.008903,-0.027635,0.015346,1628.283569,-0.027635,NaN,NaN,NaN,NaN,NaN
12,2019-01-17,1607.169678,1610.308805,1587.655925,1593.340325,2625816,0.015085,0.005195,-0.000837,0.015889,1628.283569,-0.012967,NaN,NaN,NaN,NaN,NaN
13,2019-01-18,1612.556885,1615.568727,1591.643215,1595.885335,1683728,0.003352,0.033743,0.014851,0.015313,1628.283569,-0.009658,NaN,NaN,NaN,NaN,NaN
14,2019-01-21,1619.386597,1639.154914,1608.144980,1613.702198,2409803,0.004235,0.054896,0.007846,0.014981,1628.283569,-0.005464,NaN,NaN,NaN,NaN,NaN
15,2019-01-22,1613.617432,1627.489142,1603.521167,1618.029194,2457093,-0.003563,0.020439,0.006563,0.015016,1628.283569,-0.009007,NaN,NaN,NaN,NaN,NaN
16,2019-01-23,1591.303833,1617.180762,1586.552680,1612.853821,2578169,-0.013828,0.005064,-0.003884,0.015682,1628.283569,-0.022711,NaN,NaN,NaN,NaN,NaN
17,2019-01-24,1613.320801,1616.459928,1590.795101,1599.109698,1962927,0.013836,0.003827,0.009042,0.016311,1628.283569,-0.009189,NaN,NaN,NaN,NaN,NaN
18,2019-01-25,1629.652466,1641.700042,1612.853633,1613.702057,2327080,0.010123,0.010602,0.044703,0.013802,1629.652466,0.000000,NaN,NaN,NaN,NaN,NaN
19,2019-01-28,1658.668701,1664.607668,1633.640196,1640.003376,2769033,0.017805,0.024257,0.080485,0.012310,1658.668701,0.000000,3040685.30,1.991939e+06,-0.136376,NaN,NaN
20,2019-01-29,1682.212891,1687.558004,1643.100560,1664.608090,2557626,0.014195,0.042510,0.063819,0.009911,1682.212891,0.000000,3113822.45,1.942987e+06,-0.286258,NaN,NaN
21,2019-01-30,1681.067383,1687.939597,1658.372040,1679.540178,2429575,-0.000681,0.056409,0.061758,0.010038,1682.212891,-0.000681,3130278.05,1.935332e+06,-0.362058,NaN,NaN
22,2019-01-31,1708.810547,1713.604163,1684.121432,1685.818280,4094319,0.016503,0.059188,0.063242,0.010188,1708.810547,0.000000,3204410.60,1.942803e+06,0.458054,NaN,NaN
23,2019-02-01,1722.258423,1726.330900,1695.236137,1704.908192,3064163,0.007870,0.056826,0.068030,0.010148,1722.258423,0.000000,3143575.65,1.926301e+06,-0.041225,NaN,NaN
24,2019-02-04,1739.480957,1743.892720,1716.361408,1722.257912,1590764,0.010000,0.048721,0.074160,0.010159,1739.480957,0.000000,3130292.70,1.936533e+06,-0.794992,NaN,NaN
25,2019-02-05,1734.645386,1743.511375,1720.603927,1739.269255,1111404,-0.002780,0.031169,0.075004,0.010070,1739.480957,-0.002780,3101275.10,1.963385e+06,-1.013490,NaN,NaN
26,2019-02-06,1760.309937,1770.533486,1731.675630,1739.184057,1789812,0.014795,0.047138,0.106206,0.006994,1760.309937,0.000000,3070046.90,1.979783e+06,-0.646654,NaN,NaN
27,2019-02-07,1767.182129,1779.950951,1753.692271,1760.267557,1339945,0.003904,0.034159,0.095369,0.007119,1767.182129,0.000000,2984371.10,2.017261e+06,-0.815178,NaN,NaN
28,2019-02-08,1748.940796,1772.781588,1740.117271,1760.479443,1684474,-0.010322,0.015493,0.073199,0.009390,1767.182129,-0.010322,2608101.70,1.403359e+06,-0.658155,NaN,NaN
29,2019-02-11,1752.758911,1778.296554,1738.335704,1747.753293,1778730,0.002183,0.007633,0.056726,0.008689,1767.182129,-0.008162,2516269.70,1.394038e+06,-0.529067,NaN,NaN
30,2019-02-12,1740.626221,1756.237135,1712.119100,1756.237135,2422903,-0.006922,0.003448,0.034724,0.008922,1767.182129,-0.015027,2251832.20,6.704937e+05,0.255142,NaN,NaN
31,2019-02-14,1734.687256,1760.479360,1724.888023,1747.795466,1724085,-0.003412,-0.014556,0.031896,0.009103,1767.182129,-0.018388,2220072.45,6.801112e+05,-0.729274,NaN,NaN
32,2019-02-15,1722.046021,1740.965916,1706.138072,1738.420644,1930065,-0.007287,-0.025541,0.007745,0.008309,1767.182129,-0.025541,2185284.90,6.760468e+05,-0.377518,NaN,NaN
33,2019-02-18,1671.650024,1732.439528,1665.159559,1728.748903,2942184,-0.029265,-0.044193,-0.029385,0.012191,1767.182129,-0.054059,2248207.70,6.854080e+05,1.012501,NaN,NaN
34,2019-02-19,1616.078125,1672.243754,1605.218256,1671.395330,4408554,-0.033244,-0.077980,-0.070942,0.014545,1767.182129,-0.085506,2348145.25,8.387689e+05,2.456468,NaN,NaN
35,2019-02-20,1624.519653,1640.682170,1596.139915,1624.731759,4645778,0.005223,-0.066704,-0.063486,0.015029,1767.182129,-0.080729,2457579.50,9.839464e+05,2.223900,NaN,NaN
36,2019-02-21,1624.052856,1645.942233,1609.502471,1624.519531,4683919,-0.000287,-0.063778,-0.077405,0.013322,1767.182129,-0.080993,2562867.00,1.102991e+06,1.923000,NaN,NaN
37,2019-02-22,1633.767822,1637.458446,1616.332666,1626.598577,2271955,0.005982,-0.051264,-0.075496,0.013542,1767.182129,-0.075496,2578318.40,1.096289e+06,-0.279455,NaN,NaN
38,2019-02-25,1684.248779,1688.363615,1637.882391,1639.579239,2934880,0.030898,0.007537,-0.036989,0.018155,1767.182129,-0.046930,2608708.40,1.097381e+06,0.297227,NaN,NaN
39,2019-02-26,1729.681763,1735.154159,1673.304036,1683.273017,6453309,0.026975,0.070296,-0.013166,0.020567,1767.182129,-0.021220,2792922.20,1.394675e+06,2.624546,NaN,NaN
40,2019-02-27,1746.141113,1760.436930,1715.512931,1730.784560,4732082,0.009516,0.074866,0.003168,0.020709,1767.182129,-0.011907,2901645.00,1.458655e+06,1.254880,NaN,NaN
41,2019-02-28,1682.806519,1757.383111,1677.843259,1747.753416,8454295,-0.036271,0.036177,-0.029908,0.023780,1767.182129,-0.047746,3202881.00,1.908706e+06,2.751296,NaN,NaN
42,2019-03-01,1692.945190,1701.090040,1680.176368,1692.648263,4148548,0.006025,0.036221,-0.016899,0.023872,1767.182129,-0.042009,3205592.45,1.910077e+06,0.493674,NaN,NaN
43,2019-03-05,1686.751953,1702.787190,1676.995076,1701.090341,2449622,-0.003658,0.001486,0.009034,0.021843,1767.182129,-0.045513,3174865.40,1.917401e+06,-0.378243,NaN,NaN
44,2019-03-06,1696.508545,1709.574295,1684.164038,1687.769840,2635047,0.005784,-0.019179,0.049769,0.018205,1767.182129,-0.039992,3227079.55,1.885953e+06,-0.313917,NaN,NaN
45,2019-03-07,1708.131958,1717.252515,1697.017522,1701.089998,2539884,0.006851,-0.021768,0.051469,0.018215,1767.182129,-0.033415,3298503.55,1.827764e+06,-0.415053,NaN,NaN
46,2019-03-08,1716.106934,1724.845741,1705.374454,1718.058350,2031071,0.004669,0.019789,0.056682,0.018117,1767.182129,-0.028902,3310566.50,1.818053e+06,-0.703772,NaN,NaN
47,2019-03-11,1709.404419,1724.845692,1699.944472,1721.367175,3111689,-0.003906,0.009722,0.046296,0.018366,1767.182129,-0.032695,3399153.70,1.759191e+06,-0.163407,NaN,NaN
48,2019-03-12,1707.410645,1717.888763,1699.393080,1708.768206,2658550,-0.001166,0.012248,0.013752,0.015918,1767.182129,-0.033823,3447857.50,1.722318e+06,-0.458282,NaN,NaN
49,2019-03-13,1697.271973,1710.337721,1678.691469,1707.877271,1833163,-0.005938,0.000450,-0.018737,0.013238,1767.182129,-0.039560,3450579.15,1.719582e+06,-0.940587,NaN,NaN

In [61]:
df = df.dropna().reset_index(drop=True)

In [63]:
df.to_csv("C:/Users/Abhi/Desktop/Python_Data_Analytics_Projects/behavioral-bias-detector/data/processed/TCS_features.csv", index=False)