In [1]:
import pandas as pd

In [3]:
sales = pd.read_csv("C:/Users/Abhi/Desktop/Power_BI_Data_Analysis_Project/retail-demand-customer-analytics/data/processed/clean/sales_clean.csv", parse_dates=["date"])
customers = pd.read_csv("C:/Users/Abhi/Desktop/Power_BI_Data_Analysis_Project/retail-demand-customer-analytics/data/processed/clean/customers_clean.csv")
products = pd.read_csv("C:/Users/Abhi/Desktop/Power_BI_Data_Analysis_Project/retail-demand-customer-analytics/data/processed/clean/products_clean.csv")
stores = pd.read_csv("C:/Users/Abhi/Desktop/Power_BI_Data_Analysis_Project/retail-demand-customer-analytics/data/processed/clean/stores_clean.csv")

In [5]:
# -----------------------------
# Date Dimension
# -----------------------------
dim_date = pd.DataFrame({
    "date": pd.to_datetime(sales["date"].unique())
})

dim_date["year"] = dim_date["date"].dt.year
dim_date["month"] = dim_date["date"].dt.month
dim_date["month_name"] = dim_date["date"].dt.strftime("%b")
dim_date["year_month"] = dim_date["date"].dt.to_period("M").astype(str)

In [7]:
dim_date.head()

        date  year  month month_name year_month
0 2024-08-02  2024      8        Aug    2024-08
1 2021-10-13  2021     10        Oct    2021-10
2 2021-03-07  2021      3        Mar    2021-03
3 2024-02-24  2024      2        Feb    2024-02
4 2024-04-21  2024      4        Apr    2024-04

In [9]:
#Create CUSTOMER DIMENSION
dim_customer = customers.copy()

In [11]:
dim_customer.head()

   customer_id  gender  age       city
0            1    Male   34       Pune
1            2  Female   26      Delhi
2            3    Male   50     Mumbai
3            4    Male   37  Bangalore
4            5    Male   30      Delhi

In [13]:
#Create PRODUCT DIMENSION
dim_product = products.copy()

In [15]:
dim_product.head()

   product_id  category
0           1   Grocery
1           2  Clothing
2           3   Grocery
3           4  Clothing
4           5  Clothing

In [17]:
#Create STORE DIMENSION
dim_store = stores.copy()

In [19]:
dim_store.head()

   store_id store_type region
0         1     Online   East
1         2    Offline  South
2         3    Offline   West
3         4    Offline   East
4         5     Online  North

In [21]:
# -----------------------------
# Fact Table
# -----------------------------
fact_sales = sales.merge(dim_date, on="date", how="left")

In [23]:
fact_sales.head()

,order_id,date,customer_id,product_id,store_id,quantity,unit_price,discount,revenue,year,month,month_name,year_month
0,1,2024-08-02,1,15,1,3,2206,0.05,6287.1,2024,8,Aug,2024-08
1,2,2021-10-13,2,95,4,5,912,0.15,3876.0,2021,10,Oct,2021-10
2,3,2021-03-07,2,4,3,2,2105,0.00,4210.0,2021,3,Mar,2021-03
3,4,2024-02-24,3,26,18,4,2005,0.15,6817.0,2024,2,Feb,2024-02
4,5,2024-04-21,3,36,1,2,3662,0.10,6591.6,2024,4,Apr,2024-04

In [25]:
print("Fact rows:", fact_sales.shape)
print("Dim Date rows:", dim_date.shape)
print("Dim Customer rows:", dim_customer.shape)
print("Dim Product rows:", dim_product.shape)
print("Dim Store rows:", dim_store.shape)

Fact rows: (2164, 13)
Dim Date rows: (1129, 5)
Dim Customer rows: (1000, 4)
Dim Product rows: (120, 2)
Dim Store rows: (20, 3)

In [27]:
assert fact_sales["customer_id"].isin(dim_customer["customer_id"]).all()
assert fact_sales["product_id"].isin(dim_product["product_id"]).all()
assert fact_sales["store_id"].isin(dim_store["store_id"]).all()

In [29]:
# -----------------------------
# SAVE MODELED DATA
# -----------------------------
fact_sales.to_csv("C:/Users/Abhi/Desktop/Power_BI_Data_Analysis_Project/retail-demand-customer-analytics/data/processed/modeled/fact_sales.csv", index=False)
dim_date.to_csv("C:/Users/Abhi/Desktop/Power_BI_Data_Analysis_Project/retail-demand-customer-analytics/data/processed/modeled/dim_date.csv", index=False)
dim_customer.to_csv("C:/Users/Abhi/Desktop/Power_BI_Data_Analysis_Project/retail-demand-customer-analytics/data/processed/modeled/dim_customer.csv", index=False)
dim_product.to_csv("C:/Users/Abhi/Desktop/Power_BI_Data_Analysis_Project/retail-demand-customer-analytics/data/processed/modeled/dim_product.csv", index=False)
dim_store.to_csv("C:/Users/Abhi/Desktop/Power_BI_Data_Analysis_Project/retail-demand-customer-analytics/data/processed/modeled/dim_store.csv", index=False)