In [1]:
import pandas as pd
import numpy as np

In [3]:
np.random.seed(42)

In [9]:
products = ["P001", "P002", "P003", "P004", "P005"]
dates = pd.date_range(start="2023-01-01", end="2024-12-31", freq="D")

data = []

for product in products:
    base_demand = np.random.randint(15, 40)
    inventory = np.random.randint(300, 700)
    price = np.random.randint(50, 200)

    for date in dates:
        demand = np.random.poisson(base_demand)

        # Sales
        sales = min(demand, inventory)
        inventory -= sales

        # ðŸ”§ FIX: Explicit replenishment
        purchase_qty = 0
        if inventory < base_demand * 5:
            purchase_qty = np.random.randint(200, 500)
            inventory += purchase_qty

        data.append([
            date,
            product,
            sales,          # demand
            inventory,
            purchase_qty,   # supply (NOW NON-ZERO)
            price
        ])

df = pd.DataFrame(
    data,
    columns=[
        "date",
        "product_id",
        "sales_qty",
        "inventory_qty",
        "purchase_qty",
        "unit_price"
    ]
)

df.head()

        date product_id  sales_qty  inventory_qty  purchase_qty  unit_price
0 2023-01-01       P001         18            633             0         173
1 2023-01-02       P001         25            608             0         173
2 2023-01-03       P001         21            587             0         173
3 2023-01-04       P001         20            567             0         173
4 2023-01-05       P001         25            542             0         173

In [17]:
df["purchase_qty"] = np.random.randint(5, 40, size=len(df))
df

           date product_id  sales_qty  inventory_qty  purchase_qty  unit_price
0    2023-01-01       P001         18            633            21         173
1    2023-01-02       P001         25            608            39         173
2    2023-01-03       P001         21            587            35         173
3    2023-01-04       P001         20            567            36         173
4    2023-01-05       P001         25            542            23         173
...         ...        ...        ...            ...           ...         ...
3650 2024-12-27       P005         39            207             8         192
3651 2024-12-28       P005         46            421            33         192
3652 2024-12-29       P005         36            385            39         192
3653 2024-12-30       P005         45            340            24         192
3654 2024-12-31       P005         33            307            39         192

[3655 rows x 6 columns]

In [21]:
df.to_csv("C:/Users/Abhi/Desktop/Python_Data_Analytics_Projects/demand_supply_mismatch_project/data/raw/demand_supply_raw.csv", index=False)