In [1]:
import pandas as pd
import numpy as np

In [3]:
# Load cleaned data
df = pd.read_csv("C:/Users/Abhi/Desktop/Python_Data_Analytics_Projects/demand_supply_mismatch_project/data/raw/demand_supply_raw.csv", parse_dates=["date"])

df = df.sort_values(["product_id", "date"])
df.head()

        date product_id  sales_qty  inventory_qty  purchase_qty  unit_price
0 2023-01-01       P001         18            633            21         173
1 2023-01-02       P001         25            608            39         173
2 2023-01-03       P001         21            587            35         173
3 2023-01-04       P001         20            567            36         173
4 2023-01-05       P001         25            542            23         173

In [5]:
df["avg_demand_7"] = (
    df.groupby("product_id")["sales_qty"]
      .transform(lambda x: x.rolling(7, min_periods=1).mean())
)
df.head()

,date,product_id,sales_qty,inventory_qty,purchase_qty,unit_price,avg_demand_7
0,2023-01-01,P001,18,633,21,173,18.000000
1,2023-01-02,P001,25,608,39,173,21.500000
2,2023-01-03,P001,21,587,35,173,21.333333
3,2023-01-04,P001,20,567,36,173,21.000000
4,2023-01-05,P001,25,542,23,173,21.800000

In [7]:
df["avg_demand_30"] = (
    df.groupby("product_id")["sales_qty"]
      .transform(lambda x: x.rolling(30, min_periods=1).mean())
)
df.head()

,date,product_id,sales_qty,inventory_qty,purchase_qty,unit_price,avg_demand_7,avg_demand_30
0,2023-01-01,P001,18,633,21,173,18.000000,18.000000
1,2023-01-02,P001,25,608,39,173,21.500000,21.500000
2,2023-01-03,P001,21,587,35,173,21.333333,21.333333
3,2023-01-04,P001,20,567,36,173,21.000000,21.000000
4,2023-01-05,P001,25,542,23,173,21.800000,21.800000

In [9]:
df["demand_volatility"] = (
    df.groupby("product_id")["sales_qty"]
      .transform(lambda x: x.rolling(7, min_periods=1).std())
)
df.head()

,date,product_id,sales_qty,inventory_qty,purchase_qty,unit_price,avg_demand_7,avg_demand_30,demand_volatility
0,2023-01-01,P001,18,633,21,173,18.000000,18.000000,NaN
1,2023-01-02,P001,25,608,39,173,21.500000,21.500000,4.949747
2,2023-01-03,P001,21,587,35,173,21.333333,21.333333,3.511885
3,2023-01-04,P001,20,567,36,173,21.000000,21.000000,2.943920
4,2023-01-05,P001,25,542,23,173,21.800000,21.800000,3.114482

In [11]:
df["inventory_coverage"] = (
    df["inventory_qty"] / df["avg_demand_7"]
).replace([np.inf, -np.inf], 0).fillna(0)
df.head()

,date,product_id,sales_qty,inventory_qty,purchase_qty,unit_price,avg_demand_7,avg_demand_30,demand_volatility,inventory_coverage
0,2023-01-01,P001,18,633,21,173,18.000000,18.000000,NaN,35.166667
1,2023-01-02,P001,25,608,39,173,21.500000,21.500000,4.949747,28.279070
2,2023-01-03,P001,21,587,35,173,21.333333,21.333333,3.511885,27.515625
3,2023-01-04,P001,20,567,36,173,21.000000,21.000000,2.943920,27.000000
4,2023-01-05,P001,25,542,23,173,21.800000,21.800000,3.114482,24.862385

In [13]:
df["demand_change"] = (
    df.groupby("product_id")["avg_demand_7"]
      .transform(lambda x: x.diff())
)
df.head()

,date,product_id,sales_qty,inventory_qty,purchase_qty,unit_price,avg_demand_7,avg_demand_30,demand_volatility,inventory_coverage,demand_change
0,2023-01-01,P001,18,633,21,173,18.000000,18.000000,NaN,35.166667,NaN
1,2023-01-02,P001,25,608,39,173,21.500000,21.500000,4.949747,28.279070,3.500000
2,2023-01-03,P001,21,587,35,173,21.333333,21.333333,3.511885,27.515625,-0.166667
3,2023-01-04,P001,20,567,36,173,21.000000,21.000000,2.943920,27.000000,-0.333333
4,2023-01-05,P001,25,542,23,173,21.800000,21.800000,3.114482,24.862385,0.800000

In [15]:
df["inventory_stress"] = (
    (df["avg_demand_7"] / df["inventory_qty"])
).replace([np.inf, -np.inf], 0).fillna(0)
df.head()

,date,product_id,sales_qty,inventory_qty,purchase_qty,unit_price,avg_demand_7,avg_demand_30,demand_volatility,inventory_coverage,demand_change,inventory_stress
0,2023-01-01,P001,18,633,21,173,18.000000,18.000000,NaN,35.166667,NaN,0.028436
1,2023-01-02,P001,25,608,39,173,21.500000,21.500000,4.949747,28.279070,3.500000,0.035362
2,2023-01-03,P001,21,587,35,173,21.333333,21.333333,3.511885,27.515625,-0.166667,0.036343
3,2023-01-04,P001,20,567,36,173,21.000000,21.000000,2.943920,27.000000,-0.333333,0.037037
4,2023-01-05,P001,25,542,23,173,21.800000,21.800000,3.114482,24.862385,0.800000,0.040221

In [17]:
df.to_csv(
    "C:/Users/Abhi/Desktop/Python_Data_Analytics_Projects/demand_supply_mismatch_project/data/processed/feature_engineered_data.csv",
    index=False
)

df.head()

,date,product_id,sales_qty,inventory_qty,purchase_qty,unit_price,avg_demand_7,avg_demand_30,demand_volatility,inventory_coverage,demand_change,inventory_stress
0,2023-01-01,P001,18,633,21,173,18.000000,18.000000,NaN,35.166667,NaN,0.028436
1,2023-01-02,P001,25,608,39,173,21.500000,21.500000,4.949747,28.279070,3.500000,0.035362
2,2023-01-03,P001,21,587,35,173,21.333333,21.333333,3.511885,27.515625,-0.166667,0.036343
3,2023-01-04,P001,20,567,36,173,21.000000,21.000000,2.943920,27.000000,-0.333333,0.037037
4,2023-01-05,P001,25,542,23,173,21.800000,21.800000,3.114482,24.862385,0.800000,0.040221