In [1]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv(
   "C:/Users/Abhi/Desktop/Python_Data_Analytics_Projects/demand_supply_mismatch_project/data/processed/feature_engineered_data.csv",
    parse_dates=["date"]
)

df = df.sort_values(["product_id", "date"])
df.head()

,date,product_id,sales_qty,inventory_qty,purchase_qty,unit_price,avg_demand_7,avg_demand_30,demand_volatility,inventory_coverage,demand_change,inventory_stress
0,2023-01-01,P001,18,633,21,173,18.000000,18.000000,NaN,35.166667,NaN,0.028436
1,2023-01-02,P001,25,608,39,173,21.500000,21.500000,4.949747,28.279070,3.500000,0.035362
2,2023-01-03,P001,21,587,35,173,21.333333,21.333333,3.511885,27.515625,-0.166667,0.036343
3,2023-01-04,P001,20,567,36,173,21.000000,21.000000,2.943920,27.000000,-0.333333,0.037037
4,2023-01-05,P001,25,542,23,173,21.800000,21.800000,3.114482,24.862385,0.800000,0.040221

In [19]:
df["stockout_risk"] = np.where(
    (df["inventory_coverage"] < 5) &
    (df["demand_change"] > 0),
    1,
    0
)
df.head()

,date,product_id,sales_qty,inventory_qty,purchase_qty,unit_price,avg_demand_7,avg_demand_30,demand_volatility,inventory_coverage,demand_change,inventory_stress,stockout_risk
0,2023-01-01,P001,18,633,21,173,18.000000,18.000000,NaN,35.166667,NaN,0.028436,0
1,2023-01-02,P001,25,608,39,173,21.500000,21.500000,4.949747,28.279070,3.500000,0.035362,0
2,2023-01-03,P001,21,587,35,173,21.333333,21.333333,3.511885,27.515625,-0.166667,0.036343,0
3,2023-01-04,P001,20,567,36,173,21.000000,21.000000,2.943920,27.000000,-0.333333,0.037037,0
4,2023-01-05,P001,25,542,23,173,21.800000,21.800000,3.114482,24.862385,0.800000,0.040221,0

In [23]:
df["overstock_risk"] = np.where(
    (df["inventory_coverage"] > 30) &
    (df["demand_change"] > 0),
    1,
    0
)
df.head()

,date,product_id,sales_qty,inventory_qty,purchase_qty,unit_price,avg_demand_7,avg_demand_30,demand_volatility,inventory_coverage,demand_change,inventory_stress,stockout_risk,overstock_risk
0,2023-01-01,P001,18,633,21,173,18.000000,18.000000,NaN,35.166667,NaN,0.028436,0,0
1,2023-01-02,P001,25,608,39,173,21.500000,21.500000,4.949747,28.279070,3.500000,0.035362,0,0
2,2023-01-03,P001,21,587,35,173,21.333333,21.333333,3.511885,27.515625,-0.166667,0.036343,0,0
3,2023-01-04,P001,20,567,36,173,21.000000,21.000000,2.943920,27.000000,-0.333333,0.037037,0,0
4,2023-01-05,P001,25,542,23,173,21.800000,21.800000,3.114482,24.862385,0.800000,0.040221,0,0

In [25]:
df["mismatch_type"] = np.select(
    [
        df["stockout_risk"] == 1,
        df["overstock_risk"] == 1
    ],
    [
        "Stockout Risk",
        "Overstock Risk"
    ],
    default="Balanced"
)
df.head()

,date,product_id,sales_qty,inventory_qty,purchase_qty,unit_price,avg_demand_7,avg_demand_30,demand_volatility,inventory_coverage,demand_change,inventory_stress,stockout_risk,overstock_risk,mismatch_type
0,2023-01-01,P001,18,633,21,173,18.000000,18.000000,NaN,35.166667,NaN,0.028436,0,0,Balanced
1,2023-01-02,P001,25,608,39,173,21.500000,21.500000,4.949747,28.279070,3.500000,0.035362,0,0,Balanced
2,2023-01-03,P001,21,587,35,173,21.333333,21.333333,3.511885,27.515625,-0.166667,0.036343,0,0,Balanced
3,2023-01-04,P001,20,567,36,173,21.000000,21.000000,2.943920,27.000000,-0.333333,0.037037,0,0,Balanced
4,2023-01-05,P001,25,542,23,173,21.800000,21.800000,3.114482,24.862385,0.800000,0.040221,0,0,Balanced

In [29]:
df["risk_score"] = (
    df["inventory_stress"] * 0.5 +
    df["demand_volatility"].fillna(0) * 0.3 +
    abs(df["demand_change"]) * 0.2
)
df.head()

,date,product_id,sales_qty,inventory_qty,purchase_qty,unit_price,avg_demand_7,avg_demand_30,demand_volatility,inventory_coverage,demand_change,inventory_stress,stockout_risk,overstock_risk,mismatch_type,risk_score
0,2023-01-01,P001,18,633,21,173,18.000000,18.000000,NaN,35.166667,NaN,0.028436,0,0,Balanced,NaN
1,2023-01-02,P001,25,608,39,173,21.500000,21.500000,4.949747,28.279070,3.500000,0.035362,0,0,Balanced,2.202605
2,2023-01-03,P001,21,587,35,173,21.333333,21.333333,3.511885,27.515625,-0.166667,0.036343,0,0,Balanced,1.105070
3,2023-01-04,P001,20,567,36,173,21.000000,21.000000,2.943920,27.000000,-0.333333,0.037037,0,0,Balanced,0.968361
4,2023-01-05,P001,25,542,23,173,21.800000,21.800000,3.114482,24.862385,0.800000,0.040221,0,0,Balanced,1.114455

In [31]:
df["mismatch_type"].value_counts()

mismatch_type
Balanced          3588
Overstock Risk      43
Stockout Risk       24
Name: count, dtype: int64

In [33]:
df.to_csv(
    "C:/Users/Abhi/Desktop/Python_Data_Analytics_Projects/demand_supply_mismatch_project/data/processed/mismatch_detected_data.csv",
    index=False
)