In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(
   "C:/Users/Abhi/Desktop/Python_Data_Analytics_Projects/demand_supply_mismatch_project/data/processed/mismatch_detected_data.csv",
    parse_dates=["date"]
)
df = df.sort_values(["product_id", "date"])
df.head()

,date,product_id,sales_qty,inventory_qty,purchase_qty,unit_price,avg_demand_7,avg_demand_30,demand_volatility,inventory_coverage,demand_change,inventory_stress,stockout_risk,overstock_risk,mismatch_type,risk_score
0,2023-01-01,P001,18,633,21,173,18.000000,18.000000,NaN,35.166667,NaN,0.028436,0,0,Balanced,NaN
1,2023-01-02,P001,25,608,39,173,21.500000,21.500000,4.949747,28.279070,3.500000,0.035362,0,0,Balanced,2.202605
2,2023-01-03,P001,21,587,35,173,21.333333,21.333333,3.511885,27.515625,-0.166667,0.036343,0,0,Balanced,1.105070
3,2023-01-04,P001,20,567,36,173,21.000000,21.000000,2.943920,27.000000,-0.333333,0.037037,0,0,Balanced,0.968361
4,2023-01-05,P001,25,542,23,173,21.800000,21.800000,3.114482,24.862385,0.800000,0.040221,0,0,Balanced,1.114455

In [5]:
df["lost_sales_qty"] = (
    df["avg_demand_7"] - df["inventory_qty"]
).where(
    df["mismatch_type"] == "Stockout Risk",
    0
).clip(lower=0)
df.head()

,date,product_id,sales_qty,inventory_qty,purchase_qty,unit_price,avg_demand_7,avg_demand_30,demand_volatility,inventory_coverage,demand_change,inventory_stress,stockout_risk,overstock_risk,mismatch_type,risk_score,lost_sales_qty
0,2023-01-01,P001,18,633,21,173,18.000000,18.000000,NaN,35.166667,NaN,0.028436,0,0,Balanced,NaN,0.0
1,2023-01-02,P001,25,608,39,173,21.500000,21.500000,4.949747,28.279070,3.500000,0.035362,0,0,Balanced,2.202605,0.0
2,2023-01-03,P001,21,587,35,173,21.333333,21.333333,3.511885,27.515625,-0.166667,0.036343,0,0,Balanced,1.105070,0.0
3,2023-01-04,P001,20,567,36,173,21.000000,21.000000,2.943920,27.000000,-0.333333,0.037037,0,0,Balanced,0.968361,0.0
4,2023-01-05,P001,25,542,23,173,21.800000,21.800000,3.114482,24.862385,0.800000,0.040221,0,0,Balanced,1.114455,0.0

In [7]:
df["lost_revenue"] = (
    df["lost_sales_qty"] * df["unit_price"]
)
df.head()

,date,product_id,sales_qty,inventory_qty,purchase_qty,unit_price,avg_demand_7,avg_demand_30,demand_volatility,inventory_coverage,demand_change,inventory_stress,stockout_risk,overstock_risk,mismatch_type,risk_score,lost_sales_qty,lost_revenue
0,2023-01-01,P001,18,633,21,173,18.000000,18.000000,NaN,35.166667,NaN,0.028436,0,0,Balanced,NaN,0.0,0.0
1,2023-01-02,P001,25,608,39,173,21.500000,21.500000,4.949747,28.279070,3.500000,0.035362,0,0,Balanced,2.202605,0.0,0.0
2,2023-01-03,P001,21,587,35,173,21.333333,21.333333,3.511885,27.515625,-0.166667,0.036343,0,0,Balanced,1.105070,0.0,0.0
3,2023-01-04,P001,20,567,36,173,21.000000,21.000000,2.943920,27.000000,-0.333333,0.037037,0,0,Balanced,0.968361,0.0,0.0
4,2023-01-05,P001,25,542,23,173,21.800000,21.800000,3.114482,24.862385,0.800000,0.040221,0,0,Balanced,1.114455,0.0,0.0

In [9]:
df["excess_inventory_qty"] = (
    df["inventory_qty"] - df["avg_demand_30"]
).where(
    df["mismatch_type"] == "Overstock Risk",
    0
).clip(lower=0)
df.head()

,date,product_id,sales_qty,inventory_qty,purchase_qty,unit_price,avg_demand_7,avg_demand_30,demand_volatility,inventory_coverage,demand_change,inventory_stress,stockout_risk,overstock_risk,mismatch_type,risk_score,lost_sales_qty,lost_revenue,excess_inventory_qty
0,2023-01-01,P001,18,633,21,173,18.000000,18.000000,NaN,35.166667,NaN,0.028436,0,0,Balanced,NaN,0.0,0.0,0.0
1,2023-01-02,P001,25,608,39,173,21.500000,21.500000,4.949747,28.279070,3.500000,0.035362,0,0,Balanced,2.202605,0.0,0.0,0.0
2,2023-01-03,P001,21,587,35,173,21.333333,21.333333,3.511885,27.515625,-0.166667,0.036343,0,0,Balanced,1.105070,0.0,0.0,0.0
3,2023-01-04,P001,20,567,36,173,21.000000,21.000000,2.943920,27.000000,-0.333333,0.037037,0,0,Balanced,0.968361,0.0,0.0,0.0
4,2023-01-05,P001,25,542,23,173,21.800000,21.800000,3.114482,24.862385,0.800000,0.040221,0,0,Balanced,1.114455,0.0,0.0,0.0

In [11]:
HOLDING_COST_RATE = 0.02

In [13]:
df["overstock_cost"] = (
    df["excess_inventory_qty"] *
    df["unit_price"] *
    HOLDING_COST_RATE
)
df.head()

,date,product_id,sales_qty,inventory_qty,purchase_qty,unit_price,avg_demand_7,avg_demand_30,demand_volatility,inventory_coverage,demand_change,inventory_stress,stockout_risk,overstock_risk,mismatch_type,risk_score,lost_sales_qty,lost_revenue,excess_inventory_qty,overstock_cost
0,2023-01-01,P001,18,633,21,173,18.000000,18.000000,NaN,35.166667,NaN,0.028436,0,0,Balanced,NaN,0.0,0.0,0.0,0.0
1,2023-01-02,P001,25,608,39,173,21.500000,21.500000,4.949747,28.279070,3.500000,0.035362,0,0,Balanced,2.202605,0.0,0.0,0.0,0.0
2,2023-01-03,P001,21,587,35,173,21.333333,21.333333,3.511885,27.515625,-0.166667,0.036343,0,0,Balanced,1.105070,0.0,0.0,0.0,0.0
3,2023-01-04,P001,20,567,36,173,21.000000,21.000000,2.943920,27.000000,-0.333333,0.037037,0,0,Balanced,0.968361,0.0,0.0,0.0,0.0
4,2023-01-05,P001,25,542,23,173,21.800000,21.800000,3.114482,24.862385,0.800000,0.040221,0,0,Balanced,1.114455,0.0,0.0,0.0,0.0

In [15]:
impact_summary = pd.DataFrame({
    "Metric": [
        "Total Products",
        "Stockout Risk Days",
        "Overstock Risk Days",
        "Estimated Lost Revenue",
        "Estimated Overstock Cost"
    ],
    "Value": [
        df["product_id"].nunique(),
        (df["mismatch_type"] == "Stockout Risk").sum(),
        (df["mismatch_type"] == "Overstock Risk").sum(),
        round(df["lost_revenue"].sum(), 2),
        round(df["overstock_cost"].sum(), 2)
    ]
})

impact_summary

                     Metric     Value
0            Total Products      5.00
1        Stockout Risk Days     24.00
2       Overstock Risk Days     43.00
3    Estimated Lost Revenue      0.00
4  Estimated Overstock Cost  50614.01

In [17]:
df.to_csv(
    "C:/Users/Abhi/Desktop/Python_Data_Analytics_Projects/demand_supply_mismatch_project/data/processed/impact_analysis_data.csv",
    index=False
)