In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv(
     "C:/Users/Abhi/Desktop/Python_Data_Analytics_Projects/car_insurance_pricing_analytics/data/processed/car_insurance_policy_cleaned.csv",
    parse_dates=["policy_start_date"]
)

df.head()

,policy_id,policy_start_date,vehicle_type,policy_type,region,vehicle_age,driver_age,base_premium,discount_pct,final_premium,expected_claim_cost,policy_year,underwriting_margin
0,POL10001,2023-04-13,SUV,Third Party,West,12,41,16600,0,16600.0,7675.803615,2023,8924.196385
1,POL10002,2023-11-27,Sedan,Third Party,West,7,23,14100,0,14100.0,11110.291566,2023,2989.708434
2,POL10003,2024-05-06,Luxury,Third Party,West,4,53,19200,0,19200.0,11710.129395,2024,7489.870605
3,POL10004,2024-07-14,Sedan,Third Party,West,11,36,13300,0,13300.0,5802.026232,2024,7497.973768
4,POL10005,2024-07-16,Sedan,Comprehensive,North,2,57,13100,5,12445.0,5826.869088,2024,6618.130912

In [7]:
df["premium_per_vehicle_age"] =(
    df["final_premium"] /(df["vehicle_age"] + 1)
)
df.head()

,policy_id,policy_start_date,vehicle_type,policy_type,region,vehicle_age,driver_age,base_premium,discount_pct,final_premium,expected_claim_cost,policy_year,underwriting_margin,premium_per_vehicle_age
0,POL10001,2023-04-13,SUV,Third Party,West,12,41,16600,0,16600.0,7675.803615,2023,8924.196385,1276.923077
1,POL10002,2023-11-27,Sedan,Third Party,West,7,23,14100,0,14100.0,11110.291566,2023,2989.708434,1762.500000
2,POL10003,2024-05-06,Luxury,Third Party,West,4,53,19200,0,19200.0,11710.129395,2024,7489.870605,3840.000000
3,POL10004,2024-07-14,Sedan,Third Party,West,11,36,13300,0,13300.0,5802.026232,2024,7497.973768,1108.333333
4,POL10005,2024-07-16,Sedan,Comprehensive,North,2,57,13100,5,12445.0,5826.869088,2024,6618.130912,4148.333333

In [9]:
df["discount_applied"]  = np.where(
    df["discount_pct"] > 0, 1, 0
)

In [11]:
df["discount_bucket"] = pd.cut(
    df["discount_pct"],
    bins=[-1, 0, 5, 10, 15],
    labels=["No Discount", "Low", "Medium", "High"]
)
df.head()

,policy_id,policy_start_date,vehicle_type,policy_type,region,vehicle_age,driver_age,base_premium,discount_pct,final_premium,expected_claim_cost,policy_year,underwriting_margin,premium_per_vehicle_age,discount_applied,discount_bucket
0,POL10001,2023-04-13,SUV,Third Party,West,12,41,16600,0,16600.0,7675.803615,2023,8924.196385,1276.923077,0,No Discount
1,POL10002,2023-11-27,Sedan,Third Party,West,7,23,14100,0,14100.0,11110.291566,2023,2989.708434,1762.500000,0,No Discount
2,POL10003,2024-05-06,Luxury,Third Party,West,4,53,19200,0,19200.0,11710.129395,2024,7489.870605,3840.000000,0,No Discount
3,POL10004,2024-07-14,Sedan,Third Party,West,11,36,13300,0,13300.0,5802.026232,2024,7497.973768,1108.333333,0,No Discount
4,POL10005,2024-07-16,Sedan,Comprehensive,North,2,57,13100,5,12445.0,5826.869088,2024,6618.130912,4148.333333,1,Low

In [23]:
df["avg_vehicle_premium"] = (
    df.groupby("vehicle_type")["final_premium"]
      .transform("mean")
)
df.head()

,policy_id,policy_start_date,vehicle_type,policy_type,region,vehicle_age,driver_age,base_premium,discount_pct,final_premium,expected_claim_cost,policy_year,underwriting_margin,premium_per_vehicle_age,discount_applied,discount_bucket,avg_vehicle_premium,premium_deviation_pct
0,POL10001,2023-04-13,SUV,Third Party,West,12,41,16600,0,16600.0,7675.803615,2023,8924.196385,1276.923077,0,No Discount,16035.203145,3.522231
1,POL10002,2023-11-27,Sedan,Third Party,West,7,23,14100,0,14100.0,11110.291566,2023,2989.708434,1762.500000,0,No Discount,13138.717949,7.316407
2,POL10003,2024-05-06,Luxury,Third Party,West,4,53,19200,0,19200.0,11710.129395,2024,7489.870605,3840.000000,0,No Discount,20650.765125,-7.025237
3,POL10004,2024-07-14,Sedan,Third Party,West,11,36,13300,0,13300.0,5802.026232,2024,7497.973768,1108.333333,0,No Discount,13138.717949,1.227533
4,POL10005,2024-07-16,Sedan,Comprehensive,North,2,57,13100,5,12445.0,5826.869088,2024,6618.130912,4148.333333,1,Low,13138.717949,-5.279952

In [25]:
df["premium_deviation_pct"] = (
    (df["final_premium"] - df["avg_vehicle_premium"])
    / df["avg_vehicle_premium"]
) * 100
df.head()

,policy_id,policy_start_date,vehicle_type,policy_type,region,vehicle_age,driver_age,base_premium,discount_pct,final_premium,expected_claim_cost,policy_year,underwriting_margin,premium_per_vehicle_age,discount_applied,discount_bucket,avg_vehicle_premium,premium_deviation_pct
0,POL10001,2023-04-13,SUV,Third Party,West,12,41,16600,0,16600.0,7675.803615,2023,8924.196385,1276.923077,0,No Discount,16035.203145,3.522231
1,POL10002,2023-11-27,Sedan,Third Party,West,7,23,14100,0,14100.0,11110.291566,2023,2989.708434,1762.500000,0,No Discount,13138.717949,7.316407
2,POL10003,2024-05-06,Luxury,Third Party,West,4,53,19200,0,19200.0,11710.129395,2024,7489.870605,3840.000000,0,No Discount,20650.765125,-7.025237
3,POL10004,2024-07-14,Sedan,Third Party,West,11,36,13300,0,13300.0,5802.026232,2024,7497.973768,1108.333333,0,No Discount,13138.717949,1.227533
4,POL10005,2024-07-16,Sedan,Comprehensive,North,2,57,13100,5,12445.0,5826.869088,2024,6618.130912,4148.333333,1,Low,13138.717949,-5.279952

In [27]:
df["risk_adjusted_discount"] = (
    df["discount_pct"] / (df["vehicle_age"] + 1)
)
df.head()

,policy_id,policy_start_date,vehicle_type,policy_type,region,vehicle_age,driver_age,base_premium,discount_pct,final_premium,expected_claim_cost,policy_year,underwriting_margin,premium_per_vehicle_age,discount_applied,discount_bucket,avg_vehicle_premium,premium_deviation_pct,risk_adjusted_discount
0,POL10001,2023-04-13,SUV,Third Party,West,12,41,16600,0,16600.0,7675.803615,2023,8924.196385,1276.923077,0,No Discount,16035.203145,3.522231,0.000000
1,POL10002,2023-11-27,Sedan,Third Party,West,7,23,14100,0,14100.0,11110.291566,2023,2989.708434,1762.500000,0,No Discount,13138.717949,7.316407,0.000000
2,POL10003,2024-05-06,Luxury,Third Party,West,4,53,19200,0,19200.0,11710.129395,2024,7489.870605,3840.000000,0,No Discount,20650.765125,-7.025237,0.000000
3,POL10004,2024-07-14,Sedan,Third Party,West,11,36,13300,0,13300.0,5802.026232,2024,7497.973768,1108.333333,0,No Discount,13138.717949,1.227533,0.000000
4,POL10005,2024-07-16,Sedan,Comprehensive,North,2,57,13100,5,12445.0,5826.869088,2024,6618.130912,4148.333333,1,Low,13138.717949,-5.279952,1.666667

In [29]:
df["pricing_status"] = np.where(
    df["underwriting_margin"] < 0,
    "Underpriced",
    "Profitable"
)
df.head()

,policy_id,policy_start_date,vehicle_type,policy_type,region,vehicle_age,driver_age,base_premium,discount_pct,final_premium,expected_claim_cost,policy_year,underwriting_margin,premium_per_vehicle_age,discount_applied,discount_bucket,avg_vehicle_premium,premium_deviation_pct,risk_adjusted_discount,pricing_status
0,POL10001,2023-04-13,SUV,Third Party,West,12,41,16600,0,16600.0,7675.803615,2023,8924.196385,1276.923077,0,No Discount,16035.203145,3.522231,0.000000,Profitable
1,POL10002,2023-11-27,Sedan,Third Party,West,7,23,14100,0,14100.0,11110.291566,2023,2989.708434,1762.500000,0,No Discount,13138.717949,7.316407,0.000000,Profitable
2,POL10003,2024-05-06,Luxury,Third Party,West,4,53,19200,0,19200.0,11710.129395,2024,7489.870605,3840.000000,0,No Discount,20650.765125,-7.025237,0.000000,Profitable
3,POL10004,2024-07-14,Sedan,Third Party,West,11,36,13300,0,13300.0,5802.026232,2024,7497.973768,1108.333333,0,No Discount,13138.717949,1.227533,0.000000,Profitable
4,POL10005,2024-07-16,Sedan,Comprehensive,North,2,57,13100,5,12445.0,5826.869088,2024,6618.130912,4148.333333,1,Low,13138.717949,-5.279952,1.666667,Profitable

In [35]:
df["effective_price_index"] = (
    df["final_premium"] / df["avg_vehicle_premium"]
)
df.head()

,policy_id,policy_start_date,vehicle_type,policy_type,region,vehicle_age,driver_age,base_premium,discount_pct,final_premium,...,policy_year,underwriting_margin,premium_per_vehicle_age,discount_applied,discount_bucket,avg_vehicle_premium,premium_deviation_pct,risk_adjusted_discount,pricing_status,effective_price_index
0,POL10001,2023-04-13,SUV,Third Party,West,12,41,16600,0,16600.0,...,2023,8924.196385,1276.923077,0,No Discount,16035.203145,3.522231,0.000000,Profitable,1.035222
1,POL10002,2023-11-27,Sedan,Third Party,West,7,23,14100,0,14100.0,...,2023,2989.708434,1762.500000,0,No Discount,13138.717949,7.316407,0.000000,Profitable,1.073164
2,POL10003,2024-05-06,Luxury,Third Party,West,4,53,19200,0,19200.0,...,2024,7489.870605,3840.000000,0,No Discount,20650.765125,-7.025237,0.000000,Profitable,0.929748
3,POL10004,2024-07-14,Sedan,Third Party,West,11,36,13300,0,13300.0,...,2024,7497.973768,1108.333333,0,No Discount,13138.717949,1.227533,0.000000,Profitable,1.012275
4,POL10005,2024-07-16,Sedan,Comprehensive,North,2,57,13100,5,12445.0,...,2024,6618.130912,4148.333333,1,Low,13138.717949,-5.279952,1.666667,Profitable,0.947200

In [37]:
df.to_csv(
    "C:/Users/Abhi/Desktop/Python_Data_Analytics_Projects/car_insurance_pricing_analytics/data/processed/car_insurance_pricing_features.csv",
    index=False
)

In [39]:
df[
    [
        "vehicle_type",
        "final_premium",
        "discount_pct",
        "discount_bucket",
        "premium_deviation_pct",
        "pricing_status"
    ]
].head()

,vehicle_type,final_premium,discount_pct,discount_bucket,premium_deviation_pct,pricing_status
0,SUV,16600.0,0,No Discount,3.522231,Profitable
1,Sedan,14100.0,0,No Discount,7.316407,Profitable
2,Luxury,19200.0,0,No Discount,-7.025237,Profitable
3,Sedan,13300.0,0,No Discount,1.227533,Profitable
4,Sedan,12445.0,5,Low,-5.279952,Profitable

In [41]:
df["discount_bucket"].value_counts()

discount_bucket
No Discount    1309
Low             771
Medium          615
High            305
Name: count, dtype: int64